/*---------------------------------------------------------
4. Elements (_elements.scss)
-------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $heading;
	font-weight: bold;
	@include rem('margin', $base/2 0);
	@extend .break;
	a,
	a & {
		color: inherit;
		text-decoration: none; //reset
	}
}
h1 {
	font-weight: normal;
	line-height: 1.15;
	@include rem('font-size', 46px);

}
h2 {
	@include rem('font-size', 34px);
}
h3 {
	@include rem('font-size', 24px);
}
h4 {
	font-weight: normal;
	@include rem('font-size', 24px);
}
h5 {
	text-transform: uppercase;
	@include rem('letter-spacing', 1px);
	@include rem('font-size', 16px);
}
h6 {
	font-weight: normal;
	text-transform: uppercase;
	@include rem('letter-spacing', 2px);
	@include rem('font-size', 13px);
}
/*---------------------------------------------------------
Quote (_elements.scss)
-------------------------------------------------------- */
blockquote {
	clear: both;
	@include rem('margin', $base 0);
	p {
		line-height: 1.5;
		@include rem('font-size', 24px);
	}
	cite {
		font-style: normal; //reset
		@include rem('margin-bottom', $base);
		@include rem('font-size', 13px);
		&:before {
			content: "\2014";
		}
	}
	&.ttfmake-testimonial {
		line-height: 0; //reset
		background-color: $d;
		@include rem('margin-bottom', $base*2);
		@include rem('padding', $base*1.5 $gut);
		@include border-radius;
		p {
			margin-bottom: 0; // reset
		}
		cite {
			display: block;
			margin-bottom: 0; // reset
			font-weight: bold;
			@include rem('padding', $base/2 0);
			@include rem('font-size', 14px);
		}
		&:after {
			content: "";
			position: relative;
			width: 0; //reset
			height: 0; //reset
			border-left: 22px solid transparent;
			border-right: 22px solid transparent;
			border-top: 22px solid $d;
			@include rem('left', 5px);
			@include rem('bottom', -60px);
		}
	}
}
q {
	&:before {
		content: "\201C";
	}
	&:after {
		content: "\201D";
	}
}
/*---------------------------------------------------------
Code (_elements.scss)
-------------------------------------------------------- */
tt,
kbd,
pre,
code,
samp,
var {
	font-family: $mono;
	background-color: $d;
	@include rem('padding', 4px 6px);
	@include border-radius;
}
pre {
	overflow: auto;
	white-space: pre-wrap;
	max-width: 100%;
	line-height: 1.7;
	@include rem('margin', $base 0);
	@include rem('padding', $base*1.5);
	@extend .break;
}
/*---------------------------------------------------------
Details (_elements.scss)
-------------------------------------------------------- */
abbr,
acronym,
dfn {
	cursor: help;
	font-size: .95em;
	text-transform: uppercase;
	border-bottom: 1px dotted $b;
	@include rem('letter-spacing', 1px);
}
details {
	summary {
		font-weight: bold;
		@include rem('margin-bottom', $base);
	}
	:focus {
		outline: none; //reset
	}
}
/*---------------------------------------------------------
Marks (_elements.scss)
-------------------------------------------------------- */
mark {
	background-color: #fff9c0;
	text-decoration: none;
}
/*---------------------------------------------------------
Sizes (_elements.scss)
-------------------------------------------------------- */
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
/*---------------------------------------------------------
Content (_elements.scss)
-------------------------------------------------------- */
b,
strong {
	font-weight: bold;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
figure {
	margin: 0;
}
address {
	@include rem('margin', $base 0);
}
hr {
	border: 0; //reset
	border-top: 1px solid $d;
	height: 1px;
	margin-bottom: $base;
	&.ttfmake-line-dashed {
		border-top: 1px dashed $d;
	}
	&.ttfmake-line-double {
		border-top: 6px double $d;
	}
}

/*---------------------------------------------------------
Lists (_elements.scss)
-------------------------------------------------------- */
ul,
ol {
	@include rem('margin', 0 0 $base 0);
	@include rem('padding-left', 20px);
	&.ttfmake-list {
		padding-left: 0; //reset
		list-style: none; //reset
		li:before {
			font-family: FontAwesome;
			@include rem('padding-right', $gut/3);
		}
}
	&.ttfmake-list-check li:before {
		content: "\f14a";
		color: #339d56;
	}
	&.ttfmake-list-check2 li:before {
		content: "\f046";
		color: #339d56;
	}
	&.ttfmake-list-star li:before {
		content: "\f005";
		color: #f89e01;
	}
	&.ttfmake-list-dot li:before {
		content: "\f192";
		color: $c;
	}
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $indent;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 $base $base;
}
/*---------------------------------------------------------
Table (_elements.scss)
-------------------------------------------------------- */
table {
	width: 100%;
	text-align: left;
	border: 1px solid $d;
	border-left: 0; //reset
	@include rem('margin', $base 0);
	@extend .break;
	caption {
		font-weight: bold;
		@include rem('margin-bottom', $base);
	}
	th,
	td {
		@include rem('padding', $base/2 $gut/4);
	}
	th {
		border-left: 1px solid $d;
	}
	td {
		border-top: 1px solid $d;
		border-left: 1px solid $d;
		&[valign="top"] {
			vertical-align: top;
		}
		&[valign="bottom"] {
			vertical-align: bottom;
		}
	}
}
/*---------------------------------------------------------
Galleries (_elements.scss)
-------------------------------------------------------- */
.gallery {
	margin: $base 0 $base/2 !important;
	@extend .clear;
}
.gallery-item {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	@include rem('margin', 0 4px 4px 0);
	.gallery-columns-1 & {
		width: 100%;
	}
	.gallery-columns-2 & {
		width: 48%;
	}
	.gallery-columns-3 & {
		width: 32%;
	}
	.gallery-columns-4 & {
		width: 23%;
	}
	.gallery-columns-5 & {
		width: 19%;
	}
	.gallery-columns-6 & {
		width: 15%;
	}
	.gallery-columns-7 & {
		width: 13%;
	}
	.gallery-columns-8 & {
		width: 11%;
	}
	.gallery-columns-9 & {
		width: 9%;
	}
	.gallery-columns-1 &:nth-of-type(1n),
	.gallery-columns-2 &:nth-of-type(2n),
	.gallery-columns-3 &:nth-of-type(3n),
	.gallery-columns-4 &:nth-of-type(4n),
	.gallery-columns-5 &:nth-of-type(5n),
	.gallery-columns-6 &:nth-of-type(6n),
	.gallery-columns-7 &:nth-of-type(7n),
	.gallery-columns-8 &:nth-of-type(8n),
	.gallery-columns-9 &:nth-of-type(9n) {
		margin-right: 0; //reset
	}
}
.gallery-icon {
	line-height: 0; //reset
}
.gallery-caption {
	display: none;
}
/*---------------------------------------------------------
Alerts (_elements.scss)
-------------------------------------------------------- */
.ttfmake-alert {
	position: relative;
	overflow: hidden;
	border: 1px solid darken($d, 15);
	background-color: $d;
	@include rem('padding', $base*1.5 $gut);
	@include rem('font-size', 14px);
	@include border-radius;
	&:before {
		content: "\f05a";
		display: block;
		position: absolute;
		opacity: .1;
		font-family: FontAwesome;
		line-height: 1; //reset
		@include rem('bottom', -12px);
		@include rem('right', -12px);
		@include rem('font-size', 72px);
	}
&.ttfmake-error {
	color: #d04242;
	border: 1px solid darken(#f7eeee, 15);
	background-color: #f7eeee;
	&:before {
		content: "\f06a";
	}
}
&.ttfmake-success {
	color: #339d56;
	border: 1px solid darken(#eef7f1, 15);
	background: #eef7f1;
	&:before {
		content: "\f058";
	}
}
&.ttfmake-important {
	color: #f89e01;
	border: 1px solid darken(#fffde5, 25);
	background-color: #fffde5;
		&:before {
			content: "\f06a";
		}
	}
}