/*---------------------------------------------------------
 11. Forms (_forms.scss)
-------------------------------------------------------- */
textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	max-width: 100%;
	border: 0; //reset
	background-color: $d;
	-webkit-appearance: none; //reset
	@include rem('padding', 6px 8px);
	&:focus {
		outline: none; //reset
	}
}
textarea {
	resize: vertical;
}
select {
	max-width: 100%;
	overflow: auto;
	vertical-align: top;
	outline: none; //reset
}
/*---------------------------------------------------------
 Buttons and inputs (_forms.scss)
-------------------------------------------------------- */
.ttfmake-button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: $a;
	border: 0; //reset
	background: $b;
	cursor: pointer;
	@include rem('padding', 10px 14px);
	@include rem('font-size', 13px);
	@include border-radius;
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: none;
	}
	&.color-primary-background {
		background-color: $c;
	}
	&.color-secondary-background {
		background-color: $d;
	}
	&.ttfmake-success {
		background-color: #339d56;
	}
	&.ttfmake-error {
		background-color: #d04242;
	}
	&.ttfmake-important {
		background-color: #f89e01;
	}
	&.ttfmake-download:after {
		content: "\f0ab";
		font-family: FontAwesome;
		@include rem('padding-left', 6px);
	}
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; //reset
	@include rem('margin-left', 2px);
}
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	 box-sizing: border-box;
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance: none; //reset
	}
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0; //reset
	border: 0; //reset
}
/*---------------------------------------------------------
 Placeholder text (_forms.scss)
-------------------------------------------------------- */
::-webkit-input-placeholder {
	color: $b;
}
:-moz-placeholder {
	color: $b;
	opacity: 1;
}
::-moz-placeholder {
	color: $b;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $b;
}
