/*---------------------------------------------------------
 7. Pages (_pages.scss)
-------------------------------------------------------- */
.section-header {
	@include rem('margin-bottom', $base*2);
}
.section-title {
	@include rem('font-size', 24px);
}
.section-description {
	@include rem('font-size', 13px);
}
.builder-section-content {
	position: relative;
	z-index: 2;
}
.page-template-template-builder-php {
	.site-content > .container {
		width: 100%;
		max-width: none; //reset
		padding: 0; //reset
	}
	.site-main {
		width: 100%;
	}
	.entry-header,
	.entry-footer,
	.builder-section-header,
	.comments-area {
		max-width: $width+($gut*2);
		margin: 0 auto;
		@include rem('padding', 0 $gut);
	}
}
.builder-section-gallery,
.builder-section-text,
.builder-section-blank {
	.builder-section-content {
		max-width: $width+($gut*2);
		margin: 0 auto;
		@include rem('padding', 0 $gut);
	}
}
.builder-section {
	@include rem('margin-bottom', $base*2);
	@extend .clear;
}
.builder-text-title,
.builder-text-section-title,
.builder-section-title,
.builder-gallery-section-title,
.builder-banner-section-title {
	line-height: 1.4;
	@include rem('margin', 0 0 $base/2);
}
.builder-text-section-title,
.builder-gallery-section-title,
.builder-banner-section-title {
	max-width: $width+($gut*2);
	margin-left: auto;
	margin-right: auto;
	@include rem('padding', 0 $gut);
}
.builder-text-section-title {
	@include rem('margin-bottom', $base);
}
/*---------------------------------------------------------
 Text section: Columns (_pages.scss)
-------------------------------------------------------- */
.builder-text-column {
	@include for(medium-screens) {
		margin-right: percentage( $gut / $width );
	}
	float: left;
	width: 100%;
	&:last-of-type {
		margin-right: 0; //reset
	}
}
@include for(medium-screens) {
	.builder-text-columns-2 .builder-text-column {
		width: percentage( ( $width - $gut ) / ( $width*2 ) );
	}
	.builder-text-columns-3 .builder-text-column {
		width: percentage( ( $width - ( $gut*2 ) ) / ( $width*3 ) );
	}
	.builder-text-columns-4 .builder-text-column {
		width: percentage( ( $width - ( $gut*3 ) ) / ( $width*4 ) );
	}
}
.builder-text-image {
	text-align: center;
	@include rem('margin-bottom', $base);

}
/*---------------------------------------------------------
 Banner section: Caption (_pages.scss)
-------------------------------------------------------- */
.builder-banner-overlay,
.builder-section-overlay {
	@include for(medium-screens) {
		background-color: rgba(0,0,0,0.4);
	}
	position: absolute;
	top: 0; //reset
	left: 0; //reset
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.builder-banner-overlay {
	z-index: -1;
}
.builder-section-overlay {
	z-index: 1;
}
.builder-banner-slide {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 0; //reset
	background-repeat: no-repeat;
	background-size: cover;
}
/*---------------------------------------------------------
 Banner section: Content (_pages.scss)
-------------------------------------------------------- */
.builder-banner-content {
	@include for(medium-screens) {
		@include rem('font-size', 21px);
		@include rem('padding', $base/2 $gut*4);
	}
	position: absolute;
	left: 0; //reset
	right: 0; //reset
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin-bottom: 0; //reset
	overflow: hidden;
	color: $a;
	line-height: 1.35;
	text-shadow: 1px 0 8px rgba(0,0,0,0.15);
	@include rem('padding', $base/2 $gut*3);
	@include rem('font-size', 15px);
	&:after {
		display: inline-block;
		vertical-align: middle;
		content: '';
		height: 100%;
	}
	.content-position-none & {
		@include for(medium-screens) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.content-position-left & {
		@include for(medium-screens) {
			float: left;
			right: auto;
			width: 50%;
		}
	}
	.content-position-right & {
		@include for(medium-screens) {
			float: right;
			left: auto;
			width: 50%;
		}
	}
}
.builder-banner-inner-content {
	display: inline-block;
	vertical-align: middle;
	max-width: 98%;
	width: 100%;
	*:last-child {
		margin-bottom: 0;
	}
}
/*---------------------------------------------------------
 Banner section: Pager (_pages.scss)
-------------------------------------------------------- */
.builder-section-banner,
.ttfmake-shortcode-slider {
	.cycle-pager {
		text-align: center;
		color: $d;
		line-height: 1; //reset
		@include rem('font-size', 40px);
		@include  no-select;
		span {
			cursor: pointer;
		}
		.cycle-pager-active {
			color: $e;
		}
	}
}
/*---------------------------------------------------------
 Banner section: Arrows (_pages.scss)
-------------------------------------------------------- */
.builder-section-banner,
.ttfmake-shortcode-slider {
	.cycle-prev,
	.cycle-next {
		@include for(medium-screens) {
			opacity: .6;
		}
		z-index: 999;
		position: absolute;
		top: 50%;
		cursor: pointer;
		&:before {
			position: relative;
			font-family: FontAwesome;
			color: $d;
			line-height: 1; //reset
			@include rem('top', -34px);
			@include rem('font-size', 34px);
		}
	}
	@include for(medium-screens) {
		&:hover,
		&:focus {
			.cycle-prev,
			.cycle-next {
				opacity: 1;
			}
		}
	}
	.cycle-prev:before {
		content: "\f0a8";
		left: $gut;
	}
	.cycle-next {
		right: 0; //reset
		&:before {
			content: "\f0a9";
			right: $gut;
		}
	}
}
.ttfmake-shortcode-slider {
	.cycle-prev:before,
	.cycle-next:before {
		@include rem('top', -12px);
	}
}
/*---------------------------------------------------------
 Gallery section (_pages.scss)
-------------------------------------------------------- */
.builder-section-gallery {
	background-position: center;
	background-repeat: repeat;
	position: relative;
	&.has-background {
		@include rem('padding', $base*2+$gut/4 0 $base*2);
	}
}
.builder-gallery-title {
	font-weight: bold;
	text-transform: uppercase;
	@include rem('font-size', 18px);
}
.builder-gallery-content {
	background-color: $a; //fallback
	background-color: rgba(255,255,255,.85);
	position: relative;
	width: 100%;
	z-index: 2;
}
/*---------------------------------------------------------
 Gallery: Captions (_pages.scss)
-------------------------------------------------------- */
.builder-gallery-item {
	@include rem('margin-bottom', $gut/4);
	@include rem('font-size', 14px);
	&[onclick] {
		cursor: pointer;
	}
	.builder-gallery-captions-reveal & {
		position: relative;
	}
	.builder-gallery-captions-reveal &:hover,
	.builder-gallery-captions-overlay & {
		.builder-gallery-content {
			visibility: visible;
		}
	}
	.builder-gallery-captions-none {
		.builder-gallery-content {
			display: none;
		}
	}
	.builder-gallery-captions-overlay &:hover {
		.builder-gallery-content {
			visibility: hidden;
		}
	}
}
.builder-gallery-captions-reveal {
	.builder-gallery-content {
		position: absolute;
		top: 0;
		@include rem('padding', $gut);
	}
	.builder-gallery-content {
		visibility: hidden;
		height: 100%;
	}
	.builder-gallery-description {
		overflow: hidden;
		height: 60%;
	}
	.builder-gallery-title {
		overflow: hidden;
		max-height: 100%;
		line-height: 1.5;
	}
}
.builder-gallery-captions-dark .builder-gallery-content {
	color: $a;
	background-color: $b; //fallback
	background-color: rgba(23,23,23,.85);
}
/*---------------------------------------------------------
 Gallery: Images (_pages.scss)
-------------------------------------------------------- */
.builder-gallery-image {
	height: 0; //reset
	line-height: 0; //reset
	background-position: center;
	background-size: cover;
	.builder-gallery-aspect-square & {
		padding-bottom: 100%; // 1:1
	}
	.builder-gallery-aspect-landscape & {
		padding-bottom: 75%;  // 4:3
	}
	.builder-gallery-aspect-portrait & {
		padding-bottom: 133%; // 3:4
	}
}
/*---------------------------------------------------------
 Gallery: Columns (_pages.scss)
-------------------------------------------------------- */
.builder-gallery-item {
	float: left;
	width: 100%;
	margin-right: percentage( $gut/4 / $width );
	&:last-of-type {
		margin-right: 0; //reset
	}
}
.builder-gallery-gutter {
	width: percentage( $gut/4 / $width );
}
@include for(medium-screens) {
	.builder-gallery-columns-1 .builder-gallery-item {
		width: 100%;
	}
	.builder-gallery-columns-2 .builder-gallery-item {
		width: percentage( ( $width - $gut/4 ) / ( $width*2 ) );
		&.last-2 {
			margin-right: 0; //reset
		}
	}
	.builder-gallery-columns-3 .builder-gallery-item {
		width: percentage( ( $width - ( $gut/4*2 ) ) / ( $width*3 ) );
		&.last-3 {
			margin-right: 0; //reset
		}
	}
	.builder-gallery-columns-4 .builder-gallery-item {
		width: percentage( ( $width - ( $gut/4*3 ) ) / ( $width*4 ) );
		&.last-4 {
			margin-right: 0; //reset
		}
	}
}
