/*---------------------------------------------------------
 5. Patterns (_patterns.scss)
-------------------------------------------------------- */
img {
	height: auto;
	max-width: 100%;
}
.alignleft,
.entry-thumbnail.thumbnail {
	display: inline;
	float: left;
	@include rem('margin-right', $gut);
}
.alignright {
	display: inline;
	float: right;
	@include rem('margin-left', $gut);
}
.aligncenter {
	display: block;
	clear: both;
	margin: 0 auto;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
#site-content[tabindex="-1"]:focus {
	outline: 0;
}
img.wp-smiley {
	margin-bottom: 0; //reset
	margin-top: 0; //teset
	padding: 0; //reset
	border: none;
}
/*---------------------------------------------------------
 Captions (_patterns.scss)
-------------------------------------------------------- */
.wp-caption {
	max-width: 100%;
	font-style: italic;
	line-height: 1.35;
	@include rem('margin-bottom', $base);
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
}
.wp-caption-text,
.entry-thumbnail-caption,
.cycle-caption {
	font-style: italic;
	line-height: 1.35;
	@include rem('font-size', 13px);
}
.wp-caption .wp-caption-text {
	@include rem('margin', $base/2 0);
}
/*---------------------------------------------------------
 Embeds (_patterns.scss)
-------------------------------------------------------- */
embed,
iframe,
object {
	max-width: 100%;
}
div.wp-video-shortcode {
	@include rem('margin-bottom', $base);
}
/*---------------------------------------------------------
 Google maps (_patterns.scss)
-------------------------------------------------------- */
.entry-content iframe[src*="google.com/maps"] {
	@include for(medium-screens) {
		height: 600px;
	}
	width: 100%;
	height: 300px;
}