/*---------------------------------------------------------
 6. Posts (_posts.scss)
-------------------------------------------------------- */
.entry-header {
	@include rem('margin-bottom', $base);
	.entry-thumbnail {
		line-height: 1; //reset
		text-align: center;
		@include rem('margin-bottom', $base/2);
		&.post-header {
			margin-right: 0; //reset
		}
	}
}
.entry-thumbnail-caption {
	text-align: left; //reset
	@include rem('margin-top', $base/4);
}
.entry-title {
	font-weight: bold;
	@include rem('margin-top', $base/4);
	@include rem('word-spacing', -1px);
}
.has-author-avatar .entry-header .entry-date {
	float: right;
}
.entry-date {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	@include rem('font-size', 12px);
	@include rem('letter-spacing', 1px);
	@include rem('margin-bottom', $base/2);
	.entry-header & {
		display: inline-block;
		margin-bottom: 0; //reset
		line-height: 40px;
	}
	.entry-footer & {
		text-transform: none; //reset
		letter-spacing: 0; //reset
		@include rem('font-size', 14px);
		@include rem('margin-bottom', $base);
	}
	a {
		color: $b;
		text-decoration: none; //reset
	}
}
.entry-author {
	@include rem('margin', $base 0 $base);
	.entry-header & {
		display: inline-block;
		margin-top: 0; //reset
		margin-bottom: 0; //reset
		.entry-author-byline {
			display: inline-block;
			@include rem('margin-right', 8px);
		}
	}
	.entry-footer & {
		@include rem('margin', $base*2 0 $base);
	}
}
.entry-content {
	clear: both;
}
.entry-author-bio {
	@include rem('margin-top', $base/2);
	@include rem('font-size', 13px);
}
.entry-author-byline {
	font-style: italic;
	line-height: 40px;
	@include rem('font-size', 15px);
	a.vcard {
		color: $c;
		font-weight: bold;
		font-style: normal; //reset
	}
}
.entry-comment-count {
	@include rem('margin-bottom', $base);
	.entry-header & {
		float: right;
		clear: both;
		line-height: 40px;
	}
}
.entry-comment-count a,
.comment-count-icon a {
	color: $e;
	font-weight: normal; //reset
	@include rem('font-size', 14px);
	&:hover {
		color: $c;
	}
}
.comment-count-icon:before {
	position: relative;
	content: "\f075";
	float: left;
	font-family: FontAwesome;
	color: $e;
	@include rem('top', 1px);
	@include rem('padding-right', 8px);
	.entry-footer & {
		top: 0; //reset
	}
}
.entry-author-avatar {
	float: left;
	line-height: 0; //reset
	@include rem('padding-right', $gut/4);
	img {
		width: 40px;
		@include border-radius(50%);
	}
}
.entry-footer {
	@include rem('font-size', 14px);
	a {
		color: $e;
		font-weight: 400; //reset
		&:hover {
			color: $c;
		}
	}
	.fa {
		position: relative;
		float: left;
		color: $e;
		@include rem('top', 4px);
		@include rem('padding-right', $gut/4);
	}
}
.post {
	border-bottom: 1px solid $d;
	@include rem('padding-bottom', $base);
	@include rem('margin', $base*3 0 $base*4);
	&:first-of-type {
		margin-top: 0; //reset
	}
	.single & {
		@include rem('margin-bottom', $base*2);
	}
}
.post-header {
	@include rem('margin-top', $base/2);
}
.post-categories,
.post-tags {
	padding-left: 0; //reset
	list-style: none; //reset
	@include rem('margin-bottom', $base/2);
	li {
		display: inline;
		&:after {
			content: "\002F";
			color: $e;
			@include rem('padding', 0 0 0 4px);
		}
		&:last-of-type:after {
			content: none; //reset
		}
	}
}
/*---------------------------------------------------------
 Sticky label (_posts.scss)
-------------------------------------------------------- */
.sticky-post-label-wrapper {
	clear: both;
}
.sticky-post-label {
	text-transform: uppercase;
	background-color: $d;
	@include rem('padding', 4px 6px);
	@include rem('font-size', 12px);
	@include rem('letter-spacing', 2px);
	@include border-radius;
}
/*---------------------------------------------------------
 Navigation (_posts.scss)
-------------------------------------------------------- */
#infinite-handle span {
	background: inherit;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-size: inherit;
	padding: inherit;
}
[class*="navigation"] .nav-previous,
[class*="navigation"] .nav-next,
#infinite-handle {
	width: 50%;
	a, span {
		color: $b;
		font-weight: bold;
		text-decoration: none; //reset
		@include rem('font-size', 14px);
		&:before,
		&:after {
			font-family: FontAwesome;
			font-weight: normal; //reset
		}
	}
}
[class*="navigation"] .nav-previous {
	float: left;
	a:before {
		content: "\f177  ";
	}
}
[class*="navigation"] .nav-next,
#infinite-handle {
	float: right;
	text-align: right;
	a:after, span:after {
		content: "  \f178";
	}
}
.infinite-scroll {
	.paging-navigation {
		display: none;
	}
}
.infinite-loader {
	color: $b;
	display: block;
	float: right;
	height: 28px;
	padding-right: 28px;
	text-indent: -9999px;
}
/*---------------------------------------------------------
 Jetpack Sharing (_posts.scss)
-------------------------------------------------------- */
.site-wrapper {
	div.sharedaddy div.sd-block {
		border-top: 0;
	}
	div.sharedaddy {
		h3, .sd-content {
			display: block;
			float: left;
			//height: 40px;
			width: auto;
		}
		h3 {
			font-family: inherit;
			@include rem('padding-right', $base);
			@extend .entry-date;
		}
	}
}
/*---------------------------------------------------------
 Gallery shortcode slider (_posts.scss)
-------------------------------------------------------- */
.ttfmake-shortcode-slider {
	.cycle-slide {
		position: relative;
		width: 100%;
		text-align: center;
	}
	.cycle-caption {
		@include for(medium-screens) {
			display: block;
		}
		display: none;
		position: absolute;
		z-index: 10;
		color: $d;
		text-align: left;
		text-shadow: 1px 0 3px rgba(0,0,0,0.15);
		@include rem('left', $gut/2);
		@include rem('right', $gut/2);
		@include rem('bottom', $base);
	}
	.cycle-pager {
		@include rem('margin-top', $base*2);
	}
}