/*---------------------------------------------------------
 3. Scaffolding (_scaffolding.scss)
-------------------------------------------------------- */
html {
	font-size: 62.5%; //10px
}
/*---------------------------------------------------------
 Detail (_scaffolding.scss)
-------------------------------------------------------- */
body {
	background-color: $e;
	text-rendering: optimizeLegibility;
	@include rem('font-size', 17px);
	&.boxed {
		.site-wrapper {
			@include for(medium-screens) {
				 max-width: $width+($col*2);
			 }
			 max-width: $width+($gut*2);
		}
	}
}
.site-main [class*="navigation"] {
	overflow: hidden;
	@include rem('padding', 0 0 $base*2);
}
.site-wrapper,
.site-main {
	width: 100%;
	margin: 0 auto;
}
.container {
	max-width: $width+($gut*2);
	margin: 0 auto;
	@include rem('padding', 0 $gut);
}
body,
button,
input,
select,
textarea {
	color: $b;
	font-family: $sans;
	line-height: 1.6;
}
pre,
code,
input,
textarea {
	font: inherit;
}
/*---------------------------------------------------------
 Base (_scaffolding.scss)
-------------------------------------------------------- */
ul,ol,dl,p,details,address,.vcard,figure,pre,fieldset,table,dt,dd,hr,.ttfmake-alert,.ttfmake-notice {
	@include rem('margin-bottom', $base);
}
p,ul,ol,dl,blockquote {
	@extend .break;
}
/*---------------------------------------------------------
 Links (_scaffolding.scss)
-------------------------------------------------------- */
a {
	color: $c;
	font-weight: bold;
	text-decoration: none; //reset
}
/*---------------------------------------------------------
 Header (_scaffolding.scss)
-------------------------------------------------------- */
.site-header {
	float: left;
	width: 100%;
	color: $b;
	@extend .clear;
}
.site-header-main {
	float: left;
	width: 100%;
	background-color: $a;
	@include rem('padding', $base*2 0 $base);
	@extend .clear;
}
/*---------------------------------------------------------
 Header layout 2 (_scaffolding.scss)
-------------------------------------------------------- */
.header-layout-2 {
	.site-branding,
	.site-navigation {
		float: none; //reset
		max-width: 100%;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	a.custom-logo-link {
		display: inline-block;
	}
	div.custom-logo {
		display: inline-block;
	}
}
/*---------------------------------------------------------
 Header layout 3 (_scaffolding.scss)
-------------------------------------------------------- */
.header-layout-3 {
	.site-navigation {
		float: left; //reset
		max-width: 100%;
		width: 100%;
		text-align: left;
		.menu {
			border-top: 1px solid $d;
			border-bottom: 1px solid $d;
		}
		.nav-menu {
			margin-bottom: 0; //reset
		}
	}
	.search-form {
		@include for(medium-screens) {
			float: right;
			.branding-right & {
				float: left;
			}
		}
		@include rem('font-size', 13px);
		input {
			@include for(medium-screens) {
				width: auto;
			}
			width: 100%;
		}
	}
	.search-submit {
		display: none;
	}
}
/*---------------------------------------------------------
 Title and tagline (_scaffolding.scss)
-------------------------------------------------------- */
.site-title {
	color: $b;
	margin: 0; //reset
	font-weight: bold;
	font-family: $heading;
	@include rem('font-size', 34px);
	a {
		color: $b;
		font-weight: bold;
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	.no-site-tagline & {
		@include rem('margin-bottom', $base);
	}
}
@include for(medium-screens) {
	.site-branding {
		float: left;
		max-width: 50%;
		.branding-right & {
			float: right;
		}
	}
}
.site-description {
	display: block;
	text-transform: uppercase;
	@include rem('margin', $base/2 0 $base);
	@include rem('font-size', 12px);
	@include rem('letter-spacing', 1px);
	a {
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}
/*---------------------------------------------------------
 Custom logo (_scaffolding.scss)
-------------------------------------------------------- */
/* Core */
a.custom-logo-link {
	display: inline-block;
	max-width: 100%;
	@include rem('margin-bottom', $base/2);
}
img.custom-logo {
	height: auto;
	max-width: 100%;
}
/* Legacy */
div.custom-logo {
	display: block;
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	@include rem('margin-bottom', $base/2);
	a {
		display: block;
		width: 100%;
		height: 0; //reset
		font: 0/0 a; //reset
		text-decoration: none; //reset
		text-shadow: none; //reset
		color: transparent; //reset
	}
	.no-site-title.no-site-tagline & {
		margin-bottom: 0; //reset
	}
}
/*---------------------------------------------------------
 Header bar (_scaffolding.scss)
-------------------------------------------------------- */
.header-bar {
	float: left;
	width: 100%;
	color: $a;
	background-color: $b;
	border-bottom: $rule;
	@extend .clear;
	@include for(large-screens) {
		.header-bar-flipped & {
			.search-form,
			.header-social-links {
				float: left;
				padding-left: 0; //reset
				@include rem('padding-right', $gut/2);
			}
			.header-text {
				text-align: right;
			}
			.search-form {
				padding-left: 0; //reset
				@include rem('padding-right', $gut/2);
			}
			.menu {
				float: right;
			}
		}
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	textarea,
	input {
		background-color: $a;
		@include rem('font-size', 12px);
	}
	.search-form {
		@include for(large-screens) {
			@include rem('padding', $base/2 0 $base/2 $gut/2);
			float: right;
			@include rem('padding', $base/2 0);
		}
		@include rem('font-size', 13px);
		@include rem('padding', $base 0 $base/2);
		input {
			@include for(large-screens) {
				width: 175px;
			}
			@include for(medium-screens) {
				width: auto;
			}
			width: 100%;
			border: 1px solid;
		}
	}
	.search-submit {
		display: none;
	}
	&.right-content .header-text {
		@include for(large-screens) {
			position: relative;
			overflow: hidden;
			@include rem('top', 5px);
		}
		@include rem('padding-top', $base/2);
	}
	.menu {
		@include for(large-screens) {
			.header-bar-flipped & {
				float: right;
			}
			float: left;
			text-align: left;
		}
		@include for(medium-screens) {
			text-align: left;
		}
		padding: 0; //reset
		list-style: none; //reset
		text-align: center;
		@include rem('margin', $base/2 0 $base);
		li {
			display: inline-block;
			text-align: left;
			@include rem('padding-right', $gut/2);
			&:last-of-type {
				padding-right: 0; //reset
			}
		}
		a {
			font-weight: normal; //reset
			@include rem('font-size', 13px);
		}
	}
}
.header-text {
	@include for(large-screens) {
		float: left;
		@include rem('margin-top', 2px);
		@include rem('padding', $base/2 0);
	}
	@include for(medium-screens) {
		text-align: left;
	}
	text-align: center;
	display: block;
	@include rem('margin-bottom', $base);
	@include rem('font-size', 13px);
	.header-bar-flipped & {
		float: right;
	}
}
.social-links {
	@include for(large-screens) {
		padding-top: 0;
	}
	padding-left: 0; //reset
	list-style: none; //reset
	@include rem('padding-top', $base/2);
	@include no-select;
	li {
		display:  inline-block;
		text-align: center;
		a {
			display: block;
			color: inherit;
			text-decoration: none; //reset
		}
	}
	a:hover .fa,
	a:focus .fa {
		color: #808080;
		&.fa-facebook-official {
			color: #3B5999;
		}
		&.fa-twitter {
			color: #4099ff;
		}
		&.fa-google-plus-square {
			color: #d34836;
		}
		&.fa-linkedin {
			color: #007bb6;
		}
		&.fa-instagram {
			color: #517fa4;
		}
		&.fa-flickr {
			color: #ff0084;
		}
		&.fa-youtube {
			color: #e52d27;
		}
		&.fa-vimeo-square {
			color: #1ab7ea;
		}
		&.fa-pinterest {
			color: #c92228;
		}
		&.fa-envelope {
			color: #ffae00;
		}
		&.fa-rss {
			color: #ff6600;
		}
	}
}
.header-social-links {
	text-align: center;
	@include rem('margin-bottom', $base/2);
	@include for(medium-screens) {
		float: none; //reset
		text-align: left;
	}
	@include for(large-screens) {
		float: right;
		margin-bottom: 0; //reset
	}
	ul {
		margin-bottom: 0;
	}
	li {
		a {
			@include for(large-screens) {
				@include rem('padding', 14px 10px);
				@include rem('font-size', 17px);
			}
			@include rem('padding', 4px 4px);
			@include rem('font-size', 20px);
		}
		&:first-of-type a {
			padding-left: 0; //reset
		}
	}
}
/*---------------------------------------------------------
 Navigation (_scaffolding.scss)
-------------------------------------------------------- */
.site-navigation {
	@include for(medium-screens) {
		float: right;
		max-width: 50%;
		.branding-right .header-layout-1 & {
			float: left;
			text-align: left;
		}
		.branding-right .header-layout-3 & {
			float: right;
			text-align: right;
		}
	}
	margin-bottom: 0; //reset
	@include no-select;
	.menu,
	.nav-menu {
		padding-left: 0; //reset
		ul,
		ol {
			margin-left: 0; //reset
		}
		li {
			@include for(medium-screens) {
				display: inline-block;
				position: relative;
			}
			text-align: left; //reset
			list-style: none; //reset
			a {
				@include for(medium-screens) {
					line-height: 1.4;
					border-bottom: 0; //reset
					@include rem('padding', $base/2 $gut/2);
				}
				display: block;
				font-weight: normal; //reset
				color: $b;
				line-height: 1.8;
				border-bottom: $rule;
				@include rem('padding', $base/2 0);
				@include rem('font-size', 14px);
				text-decoration: none;
			}
		}
		.sub-menu li:last-child a {
			border-bottom: none;
		}
		.sub-menu,
		.children {
			padding: 0; //reset
			text-align: left;
			li a {
				@include rem('padding-left', $gut/2);
				&:before {
					content: "\2013  ";
				}
			}
		}
		@include for(medium-screens) {
			.sub-menu,
			.children {
				position: absolute;
				display: none;
				z-index: 99999;
				overflow: hidden;
				background-color: $d;
				li {
					width: 100%;
					&:first-of-type a {
						@include rem('padding', 15px $gut/2);
					}
				}
				a {
					border-bottom: 1px solid $e;
					@include rem('padding', 15px $gut/2);
					@include rem('font-size', 13px);
					&:after {
						content: none; //reset
					}
				}
				.page_item_has_children a:after,
				.menu-item-has-children a:after {
					content: "  \f054";
					position: relative;
					float: right;
					font-family: FontAwesome;
					font-weight: normal; //reset
					@include rem('top', 4px);
					@include rem('font-size', 10px);
				}
				.sub-menu,
				.children {
					li:not(.menu-item-has-children) a:after,
					li:not(.page_item_has_children) a:after {
						content: none; //reset
					}
				}
				li {
					padding-left: 0; //reset
					a:before {
						content: none; //reset
					}
				}
				ul {
					top: 0; //reset
					left: 100%;
				}
			}
		}
		@include for(medium-screens) {
			.current_page_item,
			.current_page_ancestor,
			.current-menu-item,
			.current-menu-ancestor {
				> a {
					font-weight: bold;
				}
			}
		}
		.current_page_item,
		.current-menu-item {
			> a {
				font-weight: bold;
			}
		}
	}
	@include for(medium-screens) {
		.page_item_has_children a:after,
		.menu-item-has-children a:after {
			content: "  \f078";
			font-family: FontAwesome;
			font-weight: normal; //reset
			color: $e;
			@include rem('padding-left', 2px);
			@include rem('font-size', 10px);
			position: relative;
			top: -1px;
		}
		ul.menu ul a,
		.menu ul ul a {
			margin: 0; //reset
			min-width: 180px;
			max-width: 250px;
			&:hover,
			&:focus {
				color: $a;
				background-color: $c;
				&:after {
					color: $a;
				}
			}
		}
		ul.menu li:hover > ul,
		.menu ul li:hover > ul,
		ul.menu .focus > ul,
		.menu .focus > ul {
			display: block;
			overflow: inherit;
			height: inherit;
			width: inherit;
		}
	}
}
.menu-toggle {
	color: $a;
	text-align: left;
	border: 0; //reset
	background-color: $b;
	cursor: pointer;
	@include rem('margin', $base 0 0);
	@include rem('padding', 10px 14px);
	@include rem('font-size', 13px);
	@include border-radius;
	&:before {
		content: "\f0c9";
		font-family: FontAwesome;
		@include rem('padding-right', 6px);
	}
}
.menu-toggle,
.site-navigation.toggled .nav-menu,
.site-navigation.toggled .menu {
	display: block;
}
.site-navigation .menu {
	@include for(medium-screens) {
		display: block;
	}
	display: none;
}
@include for(medium-screens) {
	.site-navigation ul {
		display: none;
	}
}
@include for(medium-screens) {
	.menu-toggle {
		display: none;
	}
	.site-navigation ul {
		display: block;
	}
}
/*---------------------------------------------------------
 Main (_scaffolding.scss)
-------------------------------------------------------- */
.site-content {
	float: left;
	width: 100%;
	background-color: $a;
	@include rem('padding', $base 0);
	@extend .clear;
}
/*---------------------------------------------------------
 Footer (_scaffolding.scss)
-------------------------------------------------------- */
.site-footer {
	float: left;
	width: 100%;
	color: #464849;
	background-color: $d;
	@include rem('padding', $base*2 0);
	#infinite-footer & {
		@include rem('padding', $base 0);
	}
	.search-form input {
		border: 1px solid;
	}
	a {
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	@extend .clear;
	*:not(select) {
		border-color: $e !important;
	}
	@include for(medium-screens) {
		.columns-1 .widget-area {
			width: 100%;
		}
		.columns-2 .widget-area {
			width: percentage( ( $width - $gut ) / ( $width*2 ) );
		}
		.columns-3 .widget-area {
			width: percentage( ( $width - ( $gut*2 ) ) / ( $width*3 ) );
		}
		.columns-4 .widget-area {
			width: percentage( ( $width - ( $gut*3 ) ) / ( $width*4 ) );
		}
	}
	.widget-area {
		@include for(medium-screens) {
			@include rem('margin-bottom', $base*2);
		}
		width: 100%;
		float: left;
		margin-right: percentage( $gut / $width );
		@include rem('margin-bottom', $base);
		&:last-of-type {
			margin-right: 0; //reset
		}
	}
	textarea,
	input,
	.widget_tag_cloud a {
		background-color: $a;
	}
	.site-info {
		@include for(medium-screens) {
			float: left;
		}
		text-align: center;
	}
	.footer-social-links {
		@include for(medium-screens) {
		float: right;
			text-align: right;
		}
		text-align: center;
	}
	.site-info,
	.site-info a {
		@include for(medium-screens) {
			@include rem('font-size', 13px);
		}
		color: inherit;
		font-weight: bold;
		@include rem('font-size', 12px);
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none; //reset
			}
		}
	}
}
.footer-widget-container {
	float: left;
	width: 100%;
}
.footer-text {
	@include for(medium-screens) {
		text-align: left;
	}
	clear: both;
	text-align: center;
	@include rem('margin-bottom', $base/4);
	@include rem('font-size', 13px);
}
.footer-social-links {
	@include for(medium-screens) {
		margin: 0; //reset
		@include rem('font-size', 17px);
	}
	@include rem('margin-top', $base/2);
	@include rem('font-size', 20px);
	ul {
		margin-bottom: 0;
	}
}
#site-footer {
	.infinite-scroll.neverending & {
		display: none;
	}
	.infinity-end.neverending & {
		display: block;
	}
}
/*---------------------------------------------------------
 Footer layout 2 (_scaffolding.scss)
-------------------------------------------------------- */
.footer-layout-2 {
	.site-info,
	.footer-text,
	.footer-social-links {
		float: none; //reset
		clear: both;
		text-align: center;
	}
	.footer-social-links {
		@include rem('margin-top', $base/2);
	}
}
