/*---------------------------------------------------------
 12. Support (_support.scss)
-------------------------------------------------------- */
/*---------------------------------------------------------
 Contact Form 7 (_support.scss)
-------------------------------------------------------- */
.wpcf7 {
	input,
	textarea {
		@include rem('margin-top', $base/4);
	}
	input[type="submit"] {
		margin-bottom: 0; //reset
	}
}
/*---------------------------------------------------------
 Gravity Forms (_support.scss)
-------------------------------------------------------- */
.gform_wrapper {
	textarea,
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"] {
		padding: 6px 8px !important;
	}
	.top_label .gfield_label {
		margin-top: $base !important;
	}
	.ginput_complex label,
	.gfield_time_hour label,
	.gfield_time_minute label,
	.gfield_date_month label,
	.gfield_date_day label,
	.gfield_date_year label,
	.instruction {
		font-size: 13px !important;
	}
}
/*---------------------------------------------------------
 Jetpack (_support.scss)
-------------------------------------------------------- */
div.sharedaddy {
	@include rem('margin', $base 0);
	@extend .clear;
}
.contact-form {
	textarea,
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"] {
		max-width: 100% !important;
		width: 100% !important;
	}
	div label {
		@include rem('margin-top', $base/2);
	}
}
.infinite-footer-container {
	@extend .container;
}
.infinite-scroll.neverending #site-footer {
	display: none;
}
.infinity-end.neverending #site-footer {
	display: block;
}
/*---------------------------------------------------------
 Postmatic (_support.scss)
-------------------------------------------------------- */
.widget_prompt_subscribe_widget {
	input {
		display: block;
	}
	input,
	div.subscribe.prompt,
	div.unsubscribe.prompt {
		margin-bottom: 1em;
	}
	div.unsubscribe.prompt {
		h5 {
			margin-bottom: 0;
			text-transform: none;
		}
	}
}
/*---------------------------------------------------------
 Twitter (_support.scss)
-------------------------------------------------------- */
.page-template-template-builder-php {
	.entry-content {
		> .twitter-share {
			@extend .container;
		}
	}
}
/*---------------------------------------------------------
 WooCommerce (_support.scss)
-------------------------------------------------------- */
.coupon #coupon_code {
	width: auto;
	line-height: 1.5;
}
.woocommerce-cart .cart-collaterals .cart_totals table {
	border: none;
}
.woocommerce .coupon,
.woocommerce .coupon #coupon_code,
.woocommerce table.cart td.actions input,
.woocommerce table.cart td.actions .button {
		width: 100% !important;
		padding-top: .5em;
		padding-bottom: .5em;
}
.woocommerce-page table.cart td.actions {
	padding-top: 12px;
	padding-bottom: 12px;
}
.woocommerce .coupon {
	padding-top: 0;
}
.woocommerce .coupon #coupon_code {
	margin-bottom: .5em;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	width: 100%;
}
@include for(large-screens) {
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals {
		width: 48%;
	}
}
@include for(large-screens) {
	.has-left-sidebar .woocommerce .cart-collaterals .cart_totals,
	.has-left-sidebar .woocommerce-page .cart-collaterals .cart_totals,
	.has-right-sidebar .woocommerce .cart-collaterals .cart_totals,
	.has-right-sidebar .woocommerce-page .cart-collaterals .cart_totals {
		width: 100%;
	}
}
@media screen and (max-width: 800px) {
	.woocommerce ul.products li.product {
		width: 100% !important;
	}
}

/*---------------------------------------------------------
 Twitter (_support.scss)
-------------------------------------------------------- */
.twitter-tweet.twitter-tweet-rendered,
.twitter-share-button.twitter-tweet-button {
	margin-bottom: $base !important;
}
/*---------------------------------------------------------
 Yoast SEO (_support.scss)
-------------------------------------------------------- */
.yoast-seo-breadcrumb {
	font-size: 0.8em;
}
