/*---------------------------------------------------------
 8. Widgets (_widgets.scss)
-------------------------------------------------------- */
.widget-area {
	max-width: 100%;
}
.widget-title {
	font-weight: bold;
	@include rem('margin', 0 0 $base/2);
	@include rem('font-size', 13px);
	.builder-text-content & {
		line-height: 1.4;
		@include rem('font-size', 24px);
	}
}
.widget {
	max-width: 100%;
	@include rem('margin-bottom', $base*2);
	@include rem('font-size', 13px);
	.builder-text-content & {
		@include rem('font-size', 17px);
	}
	.search-form {
		@include rem('margin-top', $base/2);
	}
	select {
		max-width: 100%;
	}
	ul,
	ol {
		padding-left: 0; //reset
	}
	li {
		list-style: none; //reset
		border-bottom: 1px solid $d;
		@include rem('padding', $base/2 0);
		&:last-of-type {
			margin-bottom: 0; //reset
			padding-bottom: 0; //reset
			border-bottom: 0; //reset
		}
	}
	.children,
	.sub-menu {
		margin-bottom: 0; //reset
		li:before {
			content: "\2013  ";
		}
	}
}
.widget_tag_cloud a {
	display:  inline-block;
	background-color: $d;
	text-decoration: none; //reset
	@include rem('margin-bottom', 5px);
	@include rem('padding', 8px);
	@include border-radius;
	&:hover {
		text-decoration: underline;
	}
}
.widget_calendar table {
	margin-top: 0; //reset
}
.widget_search .search-submit {
	display: none;
}
.widget_rss {
	.widget-title a {
		text-decoration: none; //reset
		color: $b;
	}
	img {
		display: none;
	}
	.rss-date,
	cite {
		display: block;
	}
	.rss-date {
		font-style: italic;
		@include rem('margin-bottom', $base/2);
	}
	cite {
		font-style: normal; //reset
		@include rem('margin', $base/2 0 $base 0);
		&:before {
			content: "\2013  ";
		}
	}
}
