/*---------------------------------------------------------
 Defaults (html-builder.css)
-------------------------------------------------------- */
.ttf-one-titlediv {
	position: relative;
	margin-bottom: 8px;
}
.ttf-one-titlediv .ttf-one-title {
	width: 100%;
	height: 1.7em;
	font-size: 1.5em;
	line-height: 100%;
}
.ttf-one-titlediv ::-webkit-input-placeholder {
	line-height: 1.4em;
}
.clear {
	clear: both;
}
/*---------------------------------------------------------
 Builder (html-builder.css)
-------------------------------------------------------- */
#ttf_one_builder {
	padding-bottom: 2px;
	background: #ffffff;
}
#ttf_one_builder.closed {
	padding-bottom: 0; /*reset*/
}
#ttf_one_builder a {
	outline: 0; /*reset*/
}
.ttf-one-stage {
	clear: both;
	padding-top: 10px;
}
.ttf-one-stage-closed {
	padding-top: 0; /*reset*/
}
.ttf-one-select {
	text-align: right;
	padding: 0 0 12px;
}
/*---------------------------------------------------------
 Sections (html-builder.css)
-------------------------------------------------------- */
.ttf-one-section {
	overflow: hidden;
	width: 100%;
	margin-bottom: 9px;
	background-color: #ffffff;
	border: 1px solid #dfdfdf;
	border-bottom: 0; /*reset*/
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}
.ttf-one-section:hover {
	border: 1px solid #999999;
	border-bottom: 0; /*reset*/
}
.ttf-one-section:hover .ttf-one-section-header h3 {
	border-bottom: 1px solid #999999;
}
.ttf-one-section-open:hover,
.ttf-one-section-open:hover .ttf-one-section-header h3 {
	border-color: #dfdfdf;
}
.ttf-one-section:last-of-type {
	margin-bottom: 0; /*reset*/
}
.ttf-one-section-body {
	display: none;
	float: left;
	width: 100%;
	padding: 12px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ttf-one-section-open .ttf-one-section-body {
	display: block;
}
.ttf-one-section-header-title {
	max-width: 90%;
	display: inline-block;
}
.ttf-one-section h4 {
	font-size: 14px;
}
.ttf-one-section-header h3 {
	float: left;
	width: 100%;
	color: #222222;
	font-size: 13px !important;
	font-weight: 700 !important;
	font-family: 'Open Sans', sans-serif !important;
	line-height: 1.7 !important;
	background-color: #fafafa;
	border-bottom: 1px solid #dfdfdf;
}
.ttf-one-section-header span {
	font-weight: 700;
}
.ttf-one-section-header em {
	font-weight: 400 !important;
	color: #777777;
	margin-left: 4px;
	font-style: normal; /*reset*/
}
.ttf-one-section .handlediv {
	position: relative;
	top: -33px;
	margin-bottom: -33px;
}
.ttf-one-section-toggle:focus {
	border: none !important;
}
.ttf-one-section-toggle .handlediv {
	top: -36px;
	right: 0; /*reset*/
}
.wp-admin .meta-box-sortables .postbox .ttf-one-stage .ttf-one-section .ttf-one-section-header .handlediv:before {
	content: '\f140';
}
.wp-admin .meta-box-sortables .postbox .ttf-one-stage .ttf-one-section.ttf-one-section-open .ttf-one-section-header .handlediv:before {
	content: '\f142';
}
.ttf-one-media-link-wrap {
	margin-bottom: 8px;
}
.ttf-one-media-uploader-add {
	display: inline-block;
	cursor: pointer;
}
.ttf-one-section-remove {
	display: inline-block;
	float: left;
	clear: both;
	margin-top: 20px;
	margin-bottom: 8px;
	padding: 0;  /*reset*/
	color: #a00;
	border-bottom: 0;  /*reset*/
	text-decoration: none;  /*reset*/
}
.ttf-one-section-remove:hover,
.ttf-one-section-remove:focus {
	color: #ff0000;
}
.ttf-one-media-uploader-placeholder {
	position: relative;
	display: block;
	width: 100%;
	height: 228px;
	margin-bottom: 8px;
	background-color: #f2f8ff;
	border: 1px solid #dfdfdf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ttf-one-media-uploader-placeholder:before {
	content: "\f104";
	display: block;
	opacity: .15;
	font: 60px/228px dashicons;
	text-align: center;
}
.ttf-one-media-uploader-placeholder:hover:before,
.ttf-one-media-uploader-placeholder:focus:before {
	opacity: .2;
}
.ttf-one-media-uploader-placeholder img {
	position: absolute;
	max-width: 100%;
	max-height: 228px;
	width: auto;
	height: auto;
	top: 0; /*reset*/
	right: 0; /*reset*/
	bottom: 0; /*reset*/
	left: 0; /*reset*/
	margin: auto;
	padding: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ttf-one-section-body iframe {
	background: #ffffff !important;
}
.section-type-description {
	height: 73px;
	margin-top: 5px;
	line-height: 1.35;
}
/*---------------------------------------------------------
 Editor (html-builder.css)
-------------------------------------------------------- */
.ttf-one-section .wp_themeSkin table.mceToolbar {
	padding: 1px;
}
.ttf-one-section #insert-jetpack-contact-form,
.ttf-one-section #add_poll {
	display: none;
}
/*---------------------------------------------------------
 Open state (html-builder.css)
-------------------------------------------------------- */
.ttf-one-section-open {
	border-bottom: 1px solid #dfdfdf;
}
.ttf-one-section-header a {
	float: right;
	outline: 0; /*reset*/
}
/*---------------------------------------------------------
 Common (html-builder.css)
-------------------------------------------------------- */
.ttf-one-show {
	display: block;
}
.ttf-one-hide {
	display: none;
}
/*---------------------------------------------------------
 Menu (html-builder.css)
-------------------------------------------------------- */
.ttf-one-menu {
	margin-top: -6px;
}
.ttf-one-menu-pane {
	padding: 0 20px;
	border: 1px solid #dfdfdf;
	border-top: none;
	line-height: 0; /*reset*/
}
.ttf-one-menu-closed .ttf-one-menu-pane {
	display: none;
}
.ttf-one-menu-list {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0; /*reset*/
}
@media screen and (min-width: 1160px) {
	.ttf-one-menu-list-item {
		width: 100%;
	}
}
@media screen and (min-width: 1260px) {
	.ttf-one-menu-list-item {
		width: 50%;
	}
}
.ttf-one-menu-list h4,
.ttf-one-menu-list p {
	margin: 0; /*reset*/
}
.ttf-one-menu-list h4 {
	margin-bottom: 4px;
}
.ttf-one-menu-list a {
	text-decoration: none; /*reset*/
	color: #777777 !important;
}
.ttf-one-menu-list a:hover,
.ttf-one-menu-list a:focus {
	color: #333333 !important;
}
.ttf-one-menu-list-item {
	float: left;
	width: 100%;
	margin-bottom: 18px;
	padding-right: 5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and (min-width: 1160px) {
	.ttf-one-menu-list-item {
		width: 50%;
	}
}
.ttf-one-menu-list-item a {
	color: #21759b;
}
.ttf-one-menu-list-item a:hover,
.ttf-one-menu-list-item a:focus {
	color: #d54e21;
}
.ttf-one-menu-list-item:last-of-type {
	margin-right: 0; /*reset*/
}
.ttf-one-menu-list a .ttf-one-menu-list-item-link-icon {
	display: block;
	opacity: 0;
	width: 88px;
	height: 78px;
	background: url(images/section-icons-hover.png) center center no-repeat;
	background-size: 36px 36px;
	-webkit-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
	-webkit-transition-delay: .05s;
	transition-delay: .05s;
}
.ttf-one-menu-list a:hover .ttf-one-menu-list-item-link-icon,
.ttf-one-menu-list a:focus .ttf-one-menu-list-item-link-icon {
	opacity: 1;
}
.ttf-one-menu-list-item-link-icon-wrapper {
	float: left;
	width: 88px;
	height: 78px;
	margin-right: 18px;
	background-color: #fafafa;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px 60px;
	border: 1px solid #dfdfdf;
}
.ttf-one-menu-list-item:hover .ttf-one-menu-list-item-link-icon-wrapper,
.ttf-one-menu-list-item:focus .ttf-one-menu-list-item-link-icon-wrapper {
	border-color: #bbbbbb;
}
/*---------------------------------------------------------
 Menu tab (html-builder.css)
-------------------------------------------------------- */
.ttf-one-menu-tab {
	clear: both;
	margin-top: -1px;
	margin-bottom: 20px;
	text-align: center;
}
.ttf-one-menu-tab-link span:after {
	position: relative;
	bottom: 1px;
	font-size: 8px;
	color: #dfdfdf;
	padding-left: 4px;
}
.ttf-one-menu-opened .ttf-one-menu-tab-link span:after {
	content: "\25B2";
}
.ttf-one-menu-closed .ttf-one-menu-tab-link span:after {
	content: "\25BC";
}
.ttf-one-menu-tab-link:hover span:after,
.ttf-one-menu-tab-link:focus span:after {
	color: #cccccc;
}
.ttf-one-menu-tab-link {
	padding: 5px 10px;
	display: inline-block;
	border: 1px solid #dfdfdf;
	border-top: none;  /*reset*/
	background: #ffffff;
	color: #333;
	text-decoration: none;  /*reset*/
}
@media screen and ( max-width: 782px ) {
	.ttf-one-menu-tab-link {
		padding: 10px 20px;
	}
}
/*---------------------------------------------------------
 Sortable handle (html-builder.css)
-------------------------------------------------------- */
.ttf-one-stage .sortable-placeholder {
	margin-bottom: 8px;
}
.ttf-one-section .sortable-placeholder {
	float: left;
	margin: 0; /*reset*/
	padding: 0; /*reset*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ttf-one-sortable-handle {
	cursor: move;
	width: 100%;
	height: 14px;
	margin-bottom: 8px;
}
.sortable-background {
	height: 14px;
	margin: 0 auto;
	opacity: .5;
	background: url(images/sortable-background.png) center center repeat-x;
}
.ttf-one-text-column:hover .sortable-background,
.ttf-one-gallery-column:hover .sortable-background {
	opacity: 1; /*reset*/
}
/*---------------------------------------------------------
 Media button (html-builder.css)
-------------------------------------------------------- */
.ttf-one-media-button-text {
	display: none;  /*reset*/
}
@media screen and (min-width: 1160px) {
	.ttf-one-media-button-text {
		display: inline;
	}
}
.ttf-one-section #insert-media-button {
	padding-right: 7px;
}
@media screen and (min-width: 1160px) {
	.ttf-one-section #insert-media-button {
		padding-right: 7px;
	}
}
@media screen and ( max-width: 782px ) {
	.ttf-one-section .wp-media-buttons span.wp-media-buttons-icon {
		padding-left: 10px !important;
	}
}