/* jQuery UI theme tweaks */
.ui-widget {
	font-family: inherit;
	font-size: 0.85em;
}
.ui-button-text-only .ui-button-text {
	padding: 0;
}

/* Chosen tweaks */
.chosen-container .chosen-drop {
	box-shadow: none;
}
.chosen-container-active .chosen-choices,
.chosen-container-active .chosen-single {
	border: 1px solid #aaaaaa;
	box-shadow: none;
}

/* Misc control styles */
.ttfmake-control-group-title {
	color: #222222;
	font-size: 18px;
	font-weight: bold;
	margin: 14px 0 6px;
}
.customize-control.customize-control-heading {
	margin-top: 6px;
	margin-bottom: -2px;
}
.customize-control.customize-control-line {
	margin-top: 10px;
	margin-bottom: 6px;
}

/* Radio control styles */
.ttfmake-control-buttonset .customize-control-title,
.ttfmake-control-image .customize-control-title {
	line-height: 24px;
	margin-bottom: 5px;
}
.ttfmake-control-buttonset label {
	line-height: 28px;
	padding: 5px 10px;
}
.image.ui-buttonset label.ui-button {
	padding: 2px;
	line-height: 0;
	border-radius: 0;
	margin-right: 0;
	background: #999;
	border: 0;
}
li .image.ui-buttonset label.ui-button {
	margin-bottom: 10px;
	margin-right: 15px;
}
.ttfmake-control-buttonset label {
	border-color: #eee;
}
.ttfmake-control-buttonset label.ui-state-default {
	background: #eee;
}
.ttfmake-control-buttonset label.ui-state-hover {
	color: #0074a2;
}
.ttfmake-control-buttonset label.ui-state-active {
	color: #212121;
	background: #fff;
}

/* Range control styles */
li.customize-control.customize-control-range .ttfmake-control-range {
	float: left;
	width: 25%;
}
li.customize-control.customize-control-range .ttfmake-range-slider {
	float: right;
	width: 70%;
	margin-top: 8px;
}
li.customize-control.customize-control-range .ui-slider-handle {
	top: -.4em;
	border-color: #777;
	background: #777;
}
li.customize-control.customize-control-range .ui-slider-horizontal {
	height: .6em;
	border-color: #eee;
	background: #eee;
}
