/*---------------------------------------------------------
 Text section (html-builder.css)
-------------------------------------------------------- */
.ttf-one-text-column {
	margin-bottom: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and ( min-width: 1160px ) {
	.ttf-one-text-column {
		margin-bottom: 0; /*reset*/
	}
}
.ttf-one-text-columns-3 .wp-editor-area,
.ttf-one-text-columns-4 .wp-editor-area {
	height: 250px !important;
}
/*---------------------------------------------------------
 Text: One column (html-builder.css)
-------------------------------------------------------- */
.ttf-one-text-columns-1 .ttf-one-text-column:nth-child(2),
.ttf-one-text-columns-1 .ttf-one-text-column:nth-child(3),
.ttf-one-text-columns-1 .ttf-one-text-column:nth-child(4) {
	display: none;
}
.ttf-one-text-columns-1 .ttf-one-sortable-handle {
	visibility: hidden;
}
/*---------------------------------------------------------
 Text: Two column (html-builder.css)
-------------------------------------------------------- */
.ttf-one-text-columns-2 .ttf-one-text-column:nth-child(3),
.ttf-one-text-columns-2 .ttf-one-text-column:nth-child(4) {
	display: none;
}
@media screen and ( min-width: 1160px ) {
	.ttf-one-text-columns-2 .ttf-one-text-column {
		width: 50%;
		float: left;
		padding: 0 10px;
	}
}
.ttf-one-text-columns-stage.ttf-one-text-columns-2 .sortable-placeholder {
	width: 50%;
}
/*---------------------------------------------------------
 Text: Three column (html-builder.css)
-------------------------------------------------------- */
.ttf-one-text-columns-3 .ttf-one-text-column:nth-child(4) {
	display: none;
}
@media screen and ( min-width: 1160px ) {
	.ttf-one-text-columns-3 .ttf-one-text-column {
		width: 33.3333%;
		float: left;
		padding: 0 10px;
	}
}
.ttf-one-text-columns-stage.ttf-one-text-columns-3 .sortable-placeholder {
	width: 33.3333%;
}
/*---------------------------------------------------------
 Text: Four column (html-builder.css)
-------------------------------------------------------- */
@media screen and ( min-width: 1160px ) {
	.ttf-one-text-columns-4 .ttf-one-text-column {
		width: 25%;
		float: left;
		padding-right: 20px;
	}
}
.ttf-one-text-columns-4 .ttf-one-text-column:nth-child(4) {
	padding-right: 0; /*reset*/
}
.ttf-one-text-columns-stage.ttf-one-text-columns-4 .sortable-placeholder {
	width: 25%;
}
/*---------------------------------------------------------
 Banner (html-builder.css)
-------------------------------------------------------- */
.ttf-one-banner-slide-body {
	padding: 12px;
	background-color: #fcfcfc;
}
@media screen and ( min-width: 1160px ) {
	.ttf-one-banner-background-option-wrapper {
		width: 50%;
		float: right;
		padding-left: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
@media screen and ( min-width: 1160px ) {
	.ttf-one-banner-slide-background-image-wrapper {
		width: 50%;
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
.ttf-one-banner-slide-alignment-wrapper {
	margin-top: 15px;
	display: block;
	float: right;
}
.ttf-one-banner-options-container {
	float: left;
	margin-right: 40px;
}
.ttf-one-banner-options-title {
	margin-top: 8px;
}
.ttf-one-banner-slide-header h3 em {
	font-weight: normal; /*reset*/
	color: #999999;
	color: #999999;
}
.ttf-one-add-slide-wrapper {
	margin-top: 40px;
	margin-bottom: 20px;
}
.ttf-one-banner-slide .ttf-one-banner-slide-body {
	display: none;
}
.ttf-one-banner-slide.ttf-one-banner-slide-open .ttf-one-banner-slide-body {
	display: block;
}
.ttf-one-stage .ttf-one-banner-slides .sortable-placeholder {
	width: 100%;
	margin-bottom: 8px;
}
/*---------------------------------------------------------
 Gallery (html-builder.css)
-------------------------------------------------------- */
.ttf-one-columns-select-wrapper,
.ttf-one-captions-select-wrapper {
	display: inline-block;
	float: right;
	margin-left: 40px;
	padding: 0 0 12px;
}