/*---------------------------------------------------------
 Text and Gallery section (html-builder.css)
-------------------------------------------------------- */
.ttf-one-text-column,
.ttf-one-gallery-item {
	margin-bottom: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and ( min-width: 1160px ) {
	.ttf-one-text-column,
	.ttf-one-gallery-item {
		margin-bottom: 0; /*reset*/
	}
}
/*---------------------------------------------------------
 Text and Gallery: One column (html-builder.css)
-------------------------------------------------------- */
.ttf-one-text-columns-1 .ttf-one-text-column-position-2,
.ttf-one-text-columns-1 .ttf-one-text-column-position-3,
.ttf-one-text-columns-1 .ttf-one-text-column-position-4 {
	display: none;
}
.ttf-one-text-columns-1 .ttf-one-sortable-handle {
	visibility: hidden;
}
/*---------------------------------------------------------
 Text and Gallery: Two column (html-builder.css)
-------------------------------------------------------- */
.ttf-one-text-columns-2 .ttf-one-text-column-position-3,
.ttf-one-text-columns-2 .ttf-one-text-column-position-4 {
	display: none;
}
@media screen and ( min-width: 1160px ) {
	.ttf-one-text-columns-2 .ttf-one-text-column,
	.ttf-one-gallery-columns-2 .ttf-one-gallery-item {
		width: 50%;
		float: left;
		padding: 0 10px;
	}
}
.ttf-one-text-columns-stage.ttf-one-text-columns-2 .sortable-placeholder,
.ttf-one-gallery-items-stage.ttf-one-gallery-columns-2 .sortable-placeholder {
	width: 50%;
}
/*---------------------------------------------------------
 Text and Gallery: Three column (html-builder.css)
-------------------------------------------------------- */
.ttf-one-text-columns-3 .ttf-one-text-column-position-4 {
	display: none;
}
@media screen and ( min-width: 1160px ) {
	.ttf-one-text-columns-3 .ttf-one-text-column,
	.ttf-one-gallery-columns-3 .ttf-one-gallery-item {
		width: 33.3333%;
		float: left;
		padding: 0 10px;
	}
}
.ttf-one-text-columns-stage.ttf-one-text-columns-3 .sortable-placeholder,
.ttf-one-gallery-items-stage.ttf-one-gallery-columns-3 .sortable-placeholder {
	width: 33.3333%;
}
/*---------------------------------------------------------
 Text and Gallery: Four column (html-builder.css)
-------------------------------------------------------- */
@media screen and ( min-width: 1160px ) {
	.ttf-one-text-columns-4 .ttf-one-text-column,
	.ttf-one-gallery-columns-4 .ttf-one-gallery-item {
		width: 25%;
		float: left;
		padding: 0 10px;
	}
}
.ttf-one-text-columns-4 .ttf-one-text-column-position-4,
.ttf-one-gallery-columns-4 .ttf-one-gallery-item:nth-child(4) {
	padding-right: 0; /*reset*/
}
.ttf-one-text-columns-stage.ttf-one-text-columns-4 .sortable-placeholder,
.ttf-one-gallery-items-stage.ttf-one-gallery-columns-4 .sortable-placeholder {
	width: 25%;
}
/*---------------------------------------------------------
 Banner (html-builder.css)
-------------------------------------------------------- */
.ttf-one-banner-slide-body {
	padding: 12px;
	background-color: #fcfcfc;
}
.ttf-one-banner-options {
	margin-top: 40px;
}
.ttf-one-banner-options-container {
	float: left;
	margin-right: 40px;
}
.ttf-one-banner-options-title {
	margin-top: 8px;
}
/*---------------------------------------------------------
 Banner: Slide  (html-builder.css)
-------------------------------------------------------- */
@media screen and ( min-width: 1160px ) {
	.ttf-one-banner-background-option-wrapper,
	.ttf-one-banner-slide-background-image-wrapper,
	.ttf-one-gallery-background-image-wrapper,
	.ttf-one-gallery-background-options-wrapper {
		width: 50%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.ttf-one-banner-background-option-wrapper,
	.ttf-one-gallery-background-options-wrapper {
		float: right;
		padding-left: 20px;
	}
	.ttf-one-banner-slide-background-image-wrapper,
	.ttf-one-gallery-background-image-wrapper {
		float: left;
	}
}
.ttf-one-banner-slide-alignment-wrapper {
	display: block;
	margin-top: 15px;
	text-align: right;
}
.ttf-one-banner-slide-header h3 em {
	font-weight: normal; /*reset*/
	color: #999999;
}
.ttf-one-add-slide-wrapper,
.ttf-one-add-gallery-item-wrapper {
	margin-bottom: 20px;
}
.ttf-one-banner-slide .ttf-one-banner-slide-body {
	display: none;
}
.ttf-one-banner-slide-open .ttf-one-banner-slide-body {
	display: block;
}
.ttf-one-stage .ttf-one-banner-slides .sortable-placeholder {
	width: 100%;
	margin-bottom: 8px;
}
/*---------------------------------------------------------
 Gallery (html-builder.css)
-------------------------------------------------------- */
.ttf-one-gallery-items-stage {
	float: left;
	width: 100%;
}
.ttf-one-gallery-item {
	margin-bottom: 40px;
}
.ttf-one-columns-select-wrapper,
.ttf-one-captions-select-wrapper {
	display: inline-block;
	float: right;
	margin-left: 20px;
	padding: 0 0 12px;
}
.ttf-one-gallery-background-options-wrapper label {
	vertical-align: top;
}
.ttf-one-gallery-item-description-wrapper textarea {
	width: 100%;
	height: 75px;
}
.ttf-one-gallery-background-options-container {
	float: left;
	width: 100%;
}