/*---------------------------------------------------------
 Body (editor-style.css)
-------------------------------------------------------- */
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 100%; /* 16px */
	line-height: 1.5;
	color: #171717;
}
/*---------------------------------------------------------
 Code (editor-style.css)
-------------------------------------------------------- */
tt,
kbd,
pre,
code,
samp {
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;
}
/*---------------------------------------------------------
 Elements (editor-style.css)
-------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
h1,
h4,
h6 {
	font-weight: normal;
}
h5,
h6 {
	text-transform: uppercase;
}
blockquote p {
	font-size: 135%; /* 20px */
	line-height: 1.25;
}
blockquote p cite,
blockquote cite {
	font-size: 75%; /* 12px */
}
tt,
kbd,
pre,
code,
samp {
	background-color: #eaecee;
	padding: 4px;
	font-size: 93.75%; /* 15px */
}
pre {
	padding: 10px;
	font-size: 93.75%; /* 15px */
}
ins,
mark {
	background-color: #fff9c0;
	text-decoration: none;
}
ins {
	color: inherit; /* reset */
}
ins:before {
	content: "\005B";
	position: relative;
}
ins:after {
	content: "\005D";
	position: relative;
}
dt {
	font-weight: bold;
}
del,
strike {
	color: inherit;
}
/*---------------------------------------------------------
 Media (editor-style.css)
-------------------------------------------------------- */
* {
	max-width: 100%;
}
/*---------------------------------------------------------
 Rules (editor-style.css)
-------------------------------------------------------- */
hr.ttf-one-line-dashed {
	border-top: 2px dashed #eaecee;
}
hr.ttf-one-line-double {
	border-top: thick double #eaecee;
}
/*---------------------------------------------------------
 Lists (editor-style.css)
-------------------------------------------------------- */
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
/*---------------------------------------------------------
 Alerts (editor-style.css)
-------------------------------------------------------- */
.ttf-one-alert {
	background-color: #eaecee;
	padding: 33px 32px;
	font-size: 14px;
}
.ttf-one-alert.ttf-one-error {
	color: #d04242;
	background-color: #f7eeee;
}
.ttf-one-alert.ttf-one-success {
	color: #339d56;
	background: #eef7f1;
}
.ttf-one-alert.ttf-one-important {
	color: #f89e01;
	background-color: #fffde5;
}
/*---------------------------------------------------------
 Buttons (editor-style.css)
-------------------------------------------------------- */
a.ttf-one-button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: #ffffff;
	border: 0;
	background: #171717;
	cursor: pointer;
	-webkit-appearance: button;
	padding: 10px 14px;
	font-size: 13px;
}
.color-primary-background {
	background-color: #0094c5;
}
.ttf-one-success {
	background: #339d56;
}
.ttf-one-error {
	background: #d04242;
}
.ttf-one-important {
	background: #f89e01;
}
.ttf-one-download:after {
	content: "\f0ab";
	font-family: FontAwesome;
	padding-left: 6px;
}
/*---------------------------------------------------------
 Lists (editor-style.css)
-------------------------------------------------------- */
ul, ol {
	margin: 0 0 22px 0;
	padding-left: 20px;
	padding-left: 1.25rem; }
ul.ttf-one-list, ol.ttf-one-list {
	padding-left: 0;
	list-style: none; }
ul.ttf-one-list li:before, ol.ttf-one-list li:before {
	font-family: FontAwesome;
	padding-right: 10px;
	padding-right: 0.625rem; }
ul.ttf-one-list-check li:before, ol.ttf-one-list-check li:before {
	content: "\f14a";
	color: #339d56; }
ul.ttf-one-list-check2 li:before, ol.ttf-one-list-check2 li:before {
	content: "\f046";
	color: #339d56; }
ul.ttf-one-list-star li:before, ol.ttf-one-list-star li:before {
	content: "\f005";
	color: #f89e01; }
ul.ttf-one-list-dot li:before, ol.ttf-one-list-dot li:before {
	content: "\f192";
	color: #0094c5; }