/*---------------------------------------------------------
 7. Builder (_builder.scss)
-------------------------------------------------------- */
.builder-section {
	@include rem('margin-bottom', $base*2);
	@extend .clear;
}
.builder-text-title {
	line-height: 1.3;
}
/*---------------------------------------------------------
 Text section (_builder.scss)
-------------------------------------------------------- */
.builder-text-column {
	float: left;
	margin-right: percentage( $gut / $width );
	&:last-of-type {
		margin-right: 0; //reset
	}
}
/*---------------------------------------------------------
 Text: Columns (_builder.scss)
-------------------------------------------------------- */
@include for(medium-screens) {
	.builder-text-columns-2 .builder-text-column {
		width: percentage( ( $width - $gut ) / ( $width * 2 ) );
	}
	.builder-text-columns-3 .builder-text-column {
		width: percentage( ( $width - ( $gut * 2 ) ) / ( $width * 3 ) );
	}
	.builder-text-columns-4 .builder-text-column {
		width: percentage( ( $width - ( $gut * 3 ) ) / ( $width * 4 ) );
	}
}
/*---------------------------------------------------------
 Banner section (_builder.scss)
-------------------------------------------------------- */
.builder-banner-content {
	padding: $col;
	font-size: 150%; //24px
}
.builder-banner-slide {
	background-repeat: no-repeat;
	background-size: cover;
	height: 0;
	position: relative;
	width: 100%;
}
.builder-banner-content {
	position: absolute;
	top: 0;
}