/*---------------------------------------------------------
 7. Builder (_builder.scss)
-------------------------------------------------------- */
.builder-text-columns-2 .builder-text-column {
	float: left;
	width: percentage( ( $col * 4 + $gut * 3 )  / $width );
	margin-right: percentage( $gut / $width );
	&:last-of-type {
		margin-right: 0; //reset
	}
}
/*---------------------------------------------------------
 Banner section (_builder.scss)
-------------------------------------------------------- */
.builder-banner-slide {
	background-repeat: no-repeat;
	background-size: cover;
	height: 0;
	position: relative;
	width: 100%;
}
.builder-banner-content {
	position: absolute;
	top: 0;
}