/*---------------------------------------------------------
 4. Elements (_elements.scss)
-------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: bold;
	@include rem('margin', $base/2 0);
	@extend .break;
	a,
	a & {
		text-decoration: none; //reset
	}
}
h1 {
	font-weight: 300;
	@include rem('font-size', 50px);

}
h2 {
	@include rem('font-size', 34px);

}
h3 {
	@include rem('font-size', 24px);

}
h4 {
	font-weight: normal;
	@include rem('font-size', 24px);

}
h5 {
	text-transform: uppercase;
	@include rem('letter-spacing', 1px);
	@include rem('font-size', 16px);

}
h6 {
	font-weight: normal;
	text-transform: uppercase;
	@include rem('letter-spacing', 2px);
	@include rem('font-size', 14px);
}
/*---------------------------------------------------------
 Quote (_elements.scss)
-------------------------------------------------------- */
blockquote {
	clear: both;
	@include rem('margin', $base 0);
	p {
		line-height: 1.5;
		@include rem('font-size', 24px);
	}
	cite {
		font-style: normal; //reset
		@include rem('margin-bottom', $base);
		@include rem('font-size', 14px);
		&:before {
			content: "\2014";
		}
	}
}
q {
	&:before {
		content: "\201C";
	}
	&:after {
		content: "\201D";
	}
}
/*---------------------------------------------------------
 Code (_elements.scss)
-------------------------------------------------------- */
tt,
kbd,
pre,
code,
samp,
var {
	font-family: $mono;
	background-color: $d;
	@include rem('padding', 4px 6px);
	@include border-radius;
}
pre {
	overflow: auto;
	white-space: pre-wrap;
	max-width: 100%;
	line-height: 1.7;
	@include rem('margin', $base 0);
	@include rem('padding', $base*1.5);
	@extend .break;
}
/*---------------------------------------------------------
 Details (_elements.scss)
-------------------------------------------------------- */
abbr,
acronym,
dfn {
	cursor: help;
	font-size: .95em;
	text-transform: uppercase;
	border-bottom: 1px dotted $b;
	@include rem('letter-spacing', 1px);
}
details {
	summary {
		font-weight: bold;
		@include rem('margin-bottom', $base);
	}
	:focus {
		outline: none; //reset
	}
}
/*---------------------------------------------------------
 Marks (_elements.scss)
-------------------------------------------------------- */
ins,
mark {
	background: #fff9c0;
	text-decoration: none;
}
ins {
	text-decoration: none; //reset
	&:before {
		content: "\005B";
		position: relative;
		@include rem('right', 1px);
	}
	&:after {
		content: "\005D";
		position: relative;
		@include rem('left', 1px);
	}
}
/*---------------------------------------------------------
 Sizes (_elements.scss)
-------------------------------------------------------- */
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
/*---------------------------------------------------------
 Content (_elements.scss)
-------------------------------------------------------- */
b,
strong {
	font-weight: bold;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
figure {
	margin: 0;
}
address {
	@include rem('margin', $base 0);
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: $base;
}
/*---------------------------------------------------------
 Lists (_elements.scss)
-------------------------------------------------------- */
ul,
ol {
	margin: 0 0 $base 0;
	@include rem('padding-left', 20px);
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $indent;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 $base $base;
}
/*---------------------------------------------------------
 Table (_elements.scss)
-------------------------------------------------------- */
table {
	margin: 0 0 $base;
	width: 100%;
	@extend .break;
}
th {
	font-weight: bold;
	text-align: left;
	@include rem('padding', $base/2);
}
tr:nth-child(odd) {
	background-color: $d;
}
td {
	@include rem('padding', $base/2);
	&[valign="top"] {
		vertical-align: top;
	}
	&[valign="bottom"] {
		vertical-align: bottom;
	}
}