/*---------------------------------------------------------
 10. Forms (_forms.scss)
-------------------------------------------------------- */
textarea,
input {
	max-width: 100%;
	border: 0; //reset
	background-color: $d;
	-webkit-appearance: none; //reset
	@include rem('padding', 6px 8px);
	&:focus {
		outline: none; //reset
	}
}
textarea {
	resize: vertical;
}
select {
	max-width: 100%;
	overflow: auto;
	vertical-align: top;
	outline: none; //reset
}
/*---------------------------------------------------------
 Buttons and inputs (_forms.scss)
-------------------------------------------------------- */
a.ttf-one-button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: $a;
	border: 0; //reset
	background: $b;
	cursor: pointer;
	-webkit-appearance: button;
	@include rem('padding', $base/2 14px);
	@include rem('font-size', 13px);
	@include border-radius;
	&.color-primary-background {
		background-color: $c;
	}
	&.ttf-one-button-large {
		@include rem('font-size', 16px);
		@include rem('padding', $base/2 18px);
	}
	&.ttf-one-alert {
		background: $d;
		color: $b;
	}
	&.ttf-one-success {
		background: #d3faa4;
		color: darken(#d3faa4, 65);
	}
	&.ttf-one-error {
		background-color: #ff9b9b;
		color: darken(#ff9b9b, 65);
	}
	&.ttf-one-important {
		background-color: #fff99b;
		color: darken(#fff99b, 65);
	}
	&.download-button:after {
		content: "\f0ab";
		font-family: FontAwesome;
		@include rem('padding-left', 6px);
	}
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; //rest
}
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance: none; //reset
	}
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0; //reset
	border: 0; //reset
}
/*---------------------------------------------------------
 Placeholder text (_forms.scss)
-------------------------------------------------------- */
::-webkit-input-placeholder {
	color: $b;
}
:-moz-placeholder {
	color: $b;
	opacity: 1;
}
::-moz-placeholder {
	color: $b;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $b;
}