/*---------------------------------------------------------
 10. Forms (_forms.scss)
-------------------------------------------------------- */
textarea,
input {
	max-width: 100%;
	border: 1px solid $e;
	background-color: transparent; //reset
	-webkit-appearance: none; //reset
	@include rem('padding', 6px 8px);
	@include border-radius;
}
textarea {
	resize: vertical;
}
select {
	max-width: 100%;
	outline: none; //reset
}
/*---------------------------------------------------------
 Buttons and inputs (_forms.scss)
-------------------------------------------------------- */
button,
input,
select,
textarea {
	margin: 0; //reset
	vertical-align: baseline;
	*vertical-align: middle;
	font-size: 100%;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb #ccc;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	-webkit-appearance: button;
	@include rem('padding', $base/4 10px);
	@include rem('font-size', 14px);
	@include border-radius;
	&:hover {
		border-color: #ccc #bbb #aaa #bbb;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}
	&:focus,
	&:active {
		border-color: #aaa #bbb #bbb #bbb;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; //rest
}
input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none; //reset
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0; //reset
	padding: 0; //reset
}