/*---------------------------------------------------------
 1. Notes (_notes.scss)
-----------------------------------------------------------
This stylesheet uses rem values with a pixel fallback.
-----------------------------------------------------------
 Examples
-----------------------------------------------------------
* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 22px 0;
	padding: 1.29412rem 0; ($base)
-----------------------------------------------------------
 Spacing
-----------------------------------------------------------
The $base variable ($base: 22;) is used for spacing between elements.
Vertical spacing between most elements should use 11px, 22px, 44px or 66px
to maintain vertical rhythm:

.my-new-div {
	margin: 66px 0;
	margin: 3.88235rem 0; ($base*3)
}
-----------------------------------------------------------
 Further reading
-----------------------------------------------------------
http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/
-------------------------------------------------------- */