/*---------------------------------------------------------
 7. Pages (_pages.scss)
-------------------------------------------------------- */
.section-header {
	@include rem('margin-bottom', $base*2);
}
.section-title {
	@include rem('font-size', 24px);
}
.section-description {
	@include rem('font-size', 13px);
}
/*---------------------------------------------------------
 Text section (_pages.scss)
-------------------------------------------------------- */
.page-template-template-builder-php {
	.site-content > .container {
		max-width: none;
		width: 100%;
		padding: 0; //reset
	}
	.site-main {
		width: 100%;
	}
	.entry-header,
	.entry-footer,
	.builder-section-header,
	.comments-area {
		@extend .container;
	}
}
.builder-section-gallery,
.builder-section-text,
.builder-section-blank {
	.builder-section-content {
		@extend .container;
	}
}
.builder-section {
	@include rem('margin-bottom', $base*2);
	@extend .clear;
}
.builder-text-title {
	line-height: 1.3;
}
/*---------------------------------------------------------
 Text section (_pages.scss)
-------------------------------------------------------- */
.builder-text-column {
	float: left;
	margin-right: percentage( $gut / $width );
	&:last-of-type {
		margin-right: 0; //reset
	}
}
/*---------------------------------------------------------
 Text: Columns (_pages.scss)
-------------------------------------------------------- */
@include for(medium-screens) {
	.builder-text-columns-2 .builder-text-column {
		width: percentage( ( $width - $gut ) / ( $width*2 ) );
	}
	.builder-text-columns-3 .builder-text-column {
		width: percentage( ( $width - ( $gut*2 ) ) / ( $width*3 ) );
	}
	.builder-text-columns-4 .builder-text-column {
		width: percentage( ( $width - ( $gut*3 ) ) / ( $width*4 ) );
	}
}
/*---------------------------------------------------------
 Banner section (_pages.scss)
-------------------------------------------------------- */
.builder-section-banner {
	.builder-section-content {
		width: 100%;
	}
}
.builder-banner-overlay {
	@include for(medium-screens) {
		background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 50%);
		background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.4) 0%, rgba(255,255,255,0) 50%);
		background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 50%);
		background-image: linear-gradient(bottom, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 50%);
		background-color: rgba(0,0,0,0.3);
	}
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
.builder-banner-slide {
	position: relative;
	width: 100%;
	height: 0; //reset
	background-repeat: no-repeat;
	background-size: cover;
}
.builder-banner-content {
	@include for(medium-screens) {
		margin-top: $base*4;
	}
	position: absolute;
	display: table;
	vertical-align: middle;
	left: 0; //reset
	right: 0; //reset
	height: 100%;
	max-width: $width+($gut*2);
	margin-top: $base*2;
	margin-bottom: 0; //reset
	color: $a;
	text-shadow: 1px 0 8px rgba(0,0,0,0.15);
	@include rem('padding', 0 $gut);
	.content-position-none & {
		@include for(medium-screens) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.content-position-left & {
		@include for(medium-screens) {
			right: auto;
			width: 50%;
			float: left;
		}
	}
	.content-position-right & {
		@include for(medium-screens) {
			left: auto;
			width: 50%;
			float: right;
		}
	}
}
.builder-banner-inner-content {
	display: table-cell;
	vertical-align: middle;
}
.cycle-pager {
	color: $d;
	text-align: center;
	line-height: 1; //reset
	@include rem('font-size', 40px);
	@include  no-select;
	span {
		cursor: pointer;
	}
	.cycle-pager-active {
		color: $e;
	}
}
/*---------------------------------------------------------
 Gallery: Columns (_pages.scss)
-------------------------------------------------------- */
.builder-gallery-item {
	@include rem('margin-bottom', $gut/4);
	@include rem('font-size', 14px);
	.builder-gallery-captions-reveal & {
		position: relative;
	}
	.builder-gallery-captions-reveal &:hover {
		.builder-gallery-image img {
			opacity: .2;
		}
		.builder-gallery-content {
			visibility: visible;
		}
	}
}
.builder-gallery-captions-reveal {
	.builder-gallery-content {
		position: absolute;
		top: 0;
		border: 16px solid transparent;
	}
	.builder-gallery-content {
		visibility: hidden;
		height: 100%;
	}
	.builder-gallery-description {
		overflow: hidden;
		height: 60%;
	}
	.builder-gallery-title {
		overflow: hidden;
		max-height: 100%;
	}
}
.builder-gallery-image {
	line-height: 0; //reset
	background-color: $a;
}
.builder-gallery-title {
	font-weight: bold;
	text-transform: uppercase;
	@include rem('font-size', 18px);
}
.builder-gallery-item {
	float: left;
	margin-right: percentage( $gut/4 / $width );
	&:last-of-type {
		margin-right: 0; //reset
	}
	&.last-4 {
		margin-right: 0; //reset
	}
}
@include for(medium-screens) {
	.builder-gallery-columns-2 .builder-gallery-item {
		width: percentage( ( $width - $gut/4 ) / ( $width*2 ) );
	}
	.builder-gallery-columns-3 .builder-gallery-item {
		width: percentage( ( $width - ( $gut/4*2 ) ) / ( $width*3 ) );
	}
	.builder-gallery-columns-4 .builder-gallery-item {
		width: percentage( ( $width - ( $gut/4*3 ) ) / ( $width*4 ) );
	}
}