/*---------------------------------------------------------
 6. Posts (_posts.scss)
-------------------------------------------------------- */

/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

.sticky-post-label {
	text-transform: uppercase;
	background-color: $d;
	@include rem('margin-left', $gut/4);
	@include rem('padding', 4px 6px);
	@include rem('font-size', 12px);
	@include rem('letter-spacing', 1px);
	@include border-radius;
}