/*---------------------------------------------------------
 6. Posts (_posts.scss)
-------------------------------------------------------- */
.entry-header {
	@include rem('margin-bottom', $base);
}
.entry-title {
	font-weight: bold;
	@include rem('margin-top', $base/4);
}
.entry-date {
	text-transform: uppercase;
	font-weight: bold;
	@include rem('font-size', 12px);
	@include rem('letter-spacing', 1px);
	a {
		color: $b;
		text-decoration: none; //reset
	}
}
.entry-footer {
	@include rem('font-size', 14px);
	a {
		color: $e;
		font-weight: 400; //reset
		&:hover {
			color: $c;
		}
	}
	.fa {
		position: relative;
		float: left;
		color: $e;
		@include rem('top', 4px);
		@include rem('padding-right', $gut/4);
	}
}
.post {
	@include rem('margin-top', $base*3);
	&:first-of-type {
		margin-top: 0; //reset
	}
}
.post-categories,
.post-tags {
	padding-left: 0; //reset
	list-style: none; //reset
	@include rem('margin-bottom', $base/2);
	li {
		display: inline;
		&:after {
			content: "\002F";
			color: $e;
			@include rem('padding', 0 0 0 4px);
		}
		&:last-of-type:after {
			content: none; //reset
		}
	}
}
/*---------------------------------------------------------
 Sticky label (_posts.scss)
-------------------------------------------------------- */
.sticky-post-label {
	text-transform: uppercase;
	background-color: $d;
	@include rem('margin-left', $gut/4);
	@include rem('padding', 4px 6px);
	@include rem('font-size', 12px);
	@include rem('letter-spacing', 1px);
	@include border-radius;
}
/*---------------------------------------------------------
 Navigation (_posts.scss)
-------------------------------------------------------- */
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
	a {
		color: $b;
		font-weight: bold;
		text-decoration: none; //reset
	}
}
[class*="navigation"] .nav-next {
	float: right;
	width: 50%;
	text-align: right;
	a {
		color: $b;
		font-weight: bold;
		text-decoration: none; //reset
	}
}
/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}