// _preboot.scss
// Variables and mixins

// Variables
// --------------------------------------------------

//Descriptive colors
$white:				#ffffff;
$text:				#171717;
$primary:           #0094c5;
$secondary:         #eaecee;
$detail:            #b9bcbf;

//Functional colors
$a:					$white;
$b:					$text;
$c:                 $primary;
$d:                 $secondary;
$e:                 $detail;

//Fonts
$sans:        		"Open Sans", Helvetica, Arial, sans-serif;
$heading:        	"Helvetica Neue", Helvetica, Arial, sans-serif;
$mono: 				"Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;

//Break points
$one:				600px;
$two:				800px;
$three:				1100px;

//Grid
$width:				960px;
$col:				92px;
$gut:				32px;

//Baseline
$base: 				22px;

//Element
$indent:			1.5em;
$rule: 				1px solid $b;

// Mixins
// --------------------------------------------------

@mixin no-select {
	-webkit-user-select: none;
	   -moz-user-select: none;
	   	-ms-user-select: none;
	   		user-select: none;
}

@mixin border-radius($radius: 3px) {
	-webkit-border-radius: $radius;
		 -moz-border-radius: $radius;
			  border-radius: $radius;
}

@mixin for($media) {
	@if $media == small-screens {
		@media screen and (min-width: $one) { @content; }
	}
	@else if $media == medium-screens {
		@media screen and (min-width: $two) { @content; }
	}
	@else if $media == large-screens {
		@media screen and (min-width: $three) { @content; }
	}
}

$baseline-px: 17px;

@mixin rem($property, $px-values) {
	// Convert the baseline into rems
	$baseline-rem: $baseline-px / 1rem;
	// Print the first line in pixel values
	#{$property}: $px-values;
	// If there is only one (numeric) value, return the property/value line for it.
	@if type-of($px-values) == "number" {
		#{$property}: $px-values / $baseline-rem; }
	@else {
		// Create an empty list that we can dump values into
		$rem-values: unquote("");
		@each $value in $px-values {
			// If the value is zero, return 0
			@if $value == 0 {
				$rem-values: append($rem-values, $value); }
			@else {
				$rem-values: append($rem-values, $value / $baseline-rem); } }
		// Return the property and its list of converted values
		#{$property}: $rem-values; } }

/*---------------------------------------------------------
 Extends (_preboot.scss)
-------------------------------------------------------- */
.clear {
	zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}
.break {
	word-break: break-word;
	word-wrap: break-word;
}