/*---------------------------------------------------------
 3. Scaffolding (_scaffolding.scss)
-------------------------------------------------------- */
html {
	@include for(small-screens) {
		font-size: 100%; //16px
	}
	font-size: 93.75%; //15px
}
/*---------------------------------------------------------
 Detail (_scaffolding.scss)
-------------------------------------------------------- */
body {
	background-color: $d;
	text-rendering: optimizeLegibility;
	&.boxed {
		background-color: $d;
		.container {
			max-width: 100%;
			width: 100%;
		}
		#site-wrapper {
			max-width: $width+($col*2);
			-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
			-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
			@include rem('padding', $base $col $base*2);
		}
	}
}
#site-wrapper {
	width: 100%;
	margin: 0 auto;
	background-color: $a;
}
.container {
	max-width: $width;
	margin: 0 auto;
}
body,
button,
input,
select,
textarea {
	color: $b;
	font-family: $sans;
	line-height: 1.55;
}
pre,
code,
input,
textarea {
	font: inherit;
}
/*---------------------------------------------------------
 Base (_scaffolding.scss)
-------------------------------------------------------- */
ul,ol,dl,p,iframe,details,address,.vcard,figure,pre,fieldset,table,dt,dd,hr,.alert {
	@include rem('margin-bottom', $base);
}
p,ul,ol,dl,blockquote {
	@extend .break;
}
/*---------------------------------------------------------
 Links (_scaffolding.scss)
-------------------------------------------------------- */
a {
	color: $c;
}
/*---------------------------------------------------------
 Header (_scaffolding.scss)
-------------------------------------------------------- */
.site-header {
	float: left;
	width: 100%;
	@include rem('margin-bottom', $base*2);
	@extend .clear;
}
.site-header-main {
	float: left;
	width: 100%;
	@include rem('padding-top', $base*2);
	@extend .clear;
}
/*---------------------------------------------------------
 Title and tagline (_scaffolding.scss)
-------------------------------------------------------- */
.site-title {
	margin: 0; //reset
	@include rem('font-size', 34px);
}
.site-branding {
	@include for(medium-screens) {
		float: left;
		max-width: 40%;
	}
}
.site-description {
	display: block;
	text-transform: uppercase;
	@include rem('margin-bottom', $base);
	@include rem('font-size', 12px);
	@include rem('letter-spacing', 1px);
}
/*---------------------------------------------------------
 Sub Header (_scaffolding.scss)
-------------------------------------------------------- */
.sub-header {
	float: left;
	width: 100%;
	color: $a;
	background-color: $b;
	@include rem('padding', $base/1.5);
	@extend .clear;
	a {
		color: inherit;
	}
	.fa {
		@include rem('font-size', 16px);
	}
	.search-form {
		@include rem('padding-left', $gut/2);
		@include rem('font-size', 14px);
		float: right;
		input {
			background-color: $a;
		}
	}
	.search-submit {
		display: none;
	}
}
.sub-header-content {
	@include for(medium-screens) {
		max-width: 30%;
	}
	float: left;
	@include rem('font-size', 13px);
}
.sub-header-social {
	float: right;
	margin-bottom: 0; //reset
	list-style: none; //reset
	.fa-facebook:hover {
		color: #3B5999;
	}
	.fa-twitter:hover {
		color: #4099ff;
	}
	.fa-google-plus-square:hover {
		color: #d34836;
	}
	.fa-linkedin:hover {
		color: #007bb6;
	}
	.fa-instagram:hover {
		color: #517fa4;
	}
	.fa-flickr:hover {
		color: #ff0084;
	}
	.fa-youtube:hover {
		color: #e52d27;
	}
	.fa-vimeo-square:hover {
		color: #aad450;
	}
	.fa-pinterest:hover {
		color: #c92228;
	}
	.fa-envelope:hover {
		color: #fff9c0;
	}
	.fa-rss:hover {
		color: #ff6600;
	}
	a {
		text-decoration: none; //reset
	}
	li {
		display: inline;
		@include rem('padding', 0 2px);
	}
}
/*---------------------------------------------------------
 Navigation (_scaffolding.scss)
-------------------------------------------------------- */
.menu-toggle {
	cursor: pointer;
	display: block;
}
@include for(medium-screens) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: none;
	}
}
#site-navigation {
	@include for(medium-screens) {
		float: right;
		max-width: 60%;
	}
	margin-bottom: 0; //reset
	@include no-select;
	ul {
		margin: 0; //reset
		list-style: none; //reset
	}
	.page_item_has_children {
		&:hover:after {
			opacity: 1;
		}
		&:after {
			content: "\f078";
			position: relative;
			opacity: .3;
			font-family: FontAwesome;
			@include rem('top', -1px);
			@include rem('padding-left', 6px);
			@include rem('font-size', 12px);
		}
	}
	li {
		@include for(medium-screens) {
			display: inline-block;
			border-bottom: 0; //reset
			@include rem('margin-bottom', 3px);
			@include rem('padding', 3px $gut/3);
		}
		border-bottom: 1px solid $d;
		@include rem('padding', $base/2 $gut/4);
		&:hover ul {
			display: block;
		}
		ul {
			position: absolute;
			display: none;
			z-index: 999;
			margin: 0; //reset
			padding: 0; //reset
			background-color: $d;
			width: 160px;
			@include rem('margin-left', -$gut/3);
			@include border-radius;
			&.children {
				.page_item_has_children:after {
					content: none;
				}
			}
			li {
				border-bottom: 1px solid rgba(0, 0, 0, .1);
				@include rem('padding', 0 $gut/4);
				ul {
					left: 160px;
				}
			}
			li,
			li a {
				float: none;
				display: block;
				height: auto;
				@include rem('margin', $base/2 0);
				@include rem('font-size', 14px);
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
	a {
		display: inline;
		color: $b;
		text-decoration: none; //reset
		@include rem('font-size', 16px);
		&:hover {
			text-decoration: underline;
		}
	}
	.current_page_item {
		background-color: $d;
		@include border-radius;
	}
}


/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}