/*---------------------------------------------------------
 3. Scaffolding (_scaffolding.scss)
-------------------------------------------------------- */
html {
	font-size: 100%; //16px
}
/*---------------------------------------------------------
 Detail (_scaffolding.scss)
-------------------------------------------------------- */
body {
	background-color: $d;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	&.boxed {
		background-color: $d;
		.container {
			@include for(medium-screens) {
				@include rem('padding', 0 $col);
			}
			max-width: 100%;
			width: 100%;
			@include rem('padding', 0 $gut);
		}
		.site-wrapper {
			@include for(medium-screens) {
				max-width: $width+($col*2);
			}
			max-width: $width+($gut*2);
		}
	}
}
.site-main [class*="navigation"] {
	overflow: hidden;
	@include rem('padding', 0 0 $base*2);
}
.site-wrapper {
	width: 100%;
	margin: 0 auto;
	background-color: $a;
}
.container {
	max-width: $width+($gut*2);
	margin: 0 auto;
	@include rem('padding', 0 $gut);
}
body,
button,
input,
select,
textarea {
	color: $b;
	font-family: $sans;
	line-height: 1.55;
}
pre,
code,
input,
textarea {
	font: inherit;
}
/*---------------------------------------------------------
 Base (_scaffolding.scss)
-------------------------------------------------------- */
ul,ol,dl,p,details,address,.vcard,figure,pre,fieldset,table,dt,dd,hr,.alert {
	@include rem('margin-bottom', $base);
}
p,ul,ol,dl,blockquote {
	@extend .break;
}
/*---------------------------------------------------------
 Links (_scaffolding.scss)
-------------------------------------------------------- */
a {
	color: $c;
	font-weight: bold;
	text-decoration: none; //reset
}
/*---------------------------------------------------------
 Header (_scaffolding.scss)
-------------------------------------------------------- */
.site-header {
	color: $b;
	float: left;
	width: 100%;
	//@include rem('margin-bottom', $base);
	@extend .clear;
}
.site-header-main {
	background-color: $a;
	float: left;
	width: 100%;
	@include rem('padding', $base*2 0);
	@extend .clear;
}
/*---------------------------------------------------------
 Header layout 2 (_scaffolding.scss)
-------------------------------------------------------- */
.header-layout-2 {
	.site-branding,
	.site-navigation {
		float: none; //reset
		max-width: 100%;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}
/*---------------------------------------------------------
 Header layout 3 (_scaffolding.scss)
-------------------------------------------------------- */
.header-layout-3 {
	.site-navigation {
		float: left; //reset
		max-width: 100%;
		width: 100%;
		text-align: left;
	}
	.search-form {
		@include for(medium-screens) {
			float: right;
		}
		@include rem('font-size', 13px);
	}
	.search-submit {
		display: none;
	}
}
/*---------------------------------------------------------
 Title and tagline (_scaffolding.scss)
-------------------------------------------------------- */
.site-title {
	margin: 0; //reset
	font-weight: bold;
	font-family: $heading;
	@include rem('font-size', 34px);
	a {
		color: inherit;
	}
}
.site-branding {
	@include for(medium-screens) {
		float: left;
		max-width: 40%;
		.primary-nav-left & {
			float: right;
		}
	}
}
.site-description {
	display: block;
	text-transform: uppercase;
	@include rem('margin-bottom', $base);
	@include rem('font-size', 12px);
	@include rem('letter-spacing', 1px);
}
/*---------------------------------------------------------
 Custom logo (_scaffolding.scss)
-------------------------------------------------------- */
.custom-logo {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	display: block;
	max-width: 100%;
	a {
		display: block;
		width: 100%;
		height: 0;
		font: 0/0 a; //reset
		text-decoration: none; //reset
		text-shadow: none; //reset
		color: transparent; //reset
	}
}
/*---------------------------------------------------------
 Sub Header (_scaffolding.scss)
-------------------------------------------------------- */
.sub-header {
	float: left;
	width: 100%;
	color: $b;
	background-color: $a;
	border-bottom: 1px solid $d;
	@extend .clear;
	a {
		color: inherit;
	}
	.search-form {
		@include for(large-screens) {
			@include rem('padding', $base/2 0 $base/2 $gut/2);
			float: right;
		}
		@include rem('font-size', 13px);
		@include rem('padding', $base/2 0);
		input {
			@include for(large-screens) {
				width: 140px;
				-webkit-transition: width .3s;
				   -moz-transition: width .3s;
						transition: width .3s;
				&:focus {
					width: 250px;
				}
			}
			width: 100%;
		}
	}
	.search-submit {
		display: none;
	}
	&.right-content .header-text {
		@include for(large-screens) {
			max-width: 20%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			position: relative;
			@include rem('top', 3px);
		}
		@include rem('padding-top', $base/2);
	}
}
.header-text {
	float: left;
	@include rem('padding', $base/2 0);
	@include rem('font-size', 12px);
}
.social-links {
	padding-left: 0; //reset
	list-style: none; //reset
	@include no-select;
	li {
		a {
			display: block;
			color: inherit;
			text-decoration: none; //reset
		}
		display:  inline-block;
		text-align: center;
		&.facebook a:hover {
			color: #3B5999;
		}
		&.twitter a:hover {
			color: #4099ff;
		}
		&.google a:hover {
			color: #d34836;
		}
		&.linkedin a:hover {
			color: #007bb6;
		}
		&.instagram a:hover {
			color: #517fa4;
		}
		&.flickr a:hover {
			color: #ff0084;
		}
		&.youtube a:hover {
			color: #e52d27;
		}
		&.vimeo a:hover {
			color: #1ab7ea;
		}
		&.pinterest a:hover {
			color: #c92228;
		}
		&.email a:hover {
			color: #444444;
		}
		&.rss a:hover {
			color: #ff6600;
		}
	}
}
.header-social-links {
	@include for(large-screens) {
		float: right;
	}
	margin-bottom: 0; //reset
	li {
		@include for(large-screens) {
			&:first-of-type {
				border-left: 1px solid $d;
			}
		}
		a {
			@include for(large-screens) {
				border-right: 1px solid $d;
				@include rem('padding', 15px 10px);
			}
			@include rem('padding', 14px 4px);
		}
	}
}
/*---------------------------------------------------------
 Navigation (_scaffolding.scss)
-------------------------------------------------------- */
.menu-toggle {
	cursor: pointer;
	display: block;
}
@include for(medium-screens) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: none;
	}
}
.site-navigation {
	@include for(medium-screens) {
		float: right;
		max-width: 60%;
		.primary-nav-left & {
			float: left;
		}
	}
	margin-bottom: 0; //reset
	@include no-select;
	ul {
		margin: 0; //reset
		padding: 0; //reset
		list-style: none; //reset
	}
	.page_item_has_children {
		&:hover:after {
			color: $b;
		}
		&:after {
			content: "\f078";
			position: relative;
			color: $e;
			font-family: FontAwesome;
			@include rem('top', -1px);
			@include rem('padding-left', 6px);
			@include rem('font-size', 10px);
		}
	}
	li {
		@include for(medium-screens) {
			display: inline-block;
			border-bottom: 0; //reset
			@include rem('margin-bottom', 3px);
			@include rem('padding', 3px 25px 3px 0);
		}
		border-bottom: 1px solid $d;
		@include rem('padding', $base/2 $gut/4);
		&:last-of-type {
			padding-right: 0; //reset
		}
		&:hover ul {
			display: block;
		}
		ul {
			position: absolute;
			display: none;
			z-index: 999;
			margin: 0; //reset
			padding: 0; //reset
			background-color: $d;
			width: 160px;
			@include rem('margin-left', -$gut/3);
			@include border-radius;
			&.children {
				.page_item_has_children:after {
					content: none;
				}
			}
			li {
				border-bottom: 1px solid rgba(0, 0, 0, .1);
				@include rem('padding', 0 $gut/4);
				ul {
					left: 160px;
				}
			}
			li,
			li a {
				float: none;
				display: block;
				height: auto;
				@include rem('margin', $base/2 0);
				@include rem('font-size', 13px);
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
	a {
		display: inline;
		color: $b;
		text-decoration: none; //reset
		@include rem('font-size', 13px);
		&:hover {
			color: $c;
		}
	}
	.current_page_item {
		font-weight: bold;
		a {
			color: $b;
			border-bottom: 2px solid $b;
		}
	}
}
/*---------------------------------------------------------
 Main (_scaffolding.scss)
-------------------------------------------------------- */
.site-content {
	background-color: $a;
	float: left;
	width: 100%;
	@include rem('padding', $base 0);
	@extend .clear;
}
/*---------------------------------------------------------
 Footer (_scaffolding.scss)
-------------------------------------------------------- */
.site-footer {
	color: #464849;
	background-color: $d;
	@include rem('padding', $base 0 $base*2);
	float: left;
	width: 100%;
	@extend .clear;
	*:not(select) {
		border-color: $e !important;
	}
	@include for(medium-screens) {
		.columns-1 .widget-area {
			width: 100%;
		}
		.columns-2 .widget-area {
			width: percentage( ( $width - $gut ) / ( $width*2 ) );
		}
		.columns-3 .widget-area {
			width: percentage( ( $width - ( $gut*2 ) ) / ( $width*3 ) );
		}
		.columns-4 .widget-area {
			width: percentage( ( $width - ( $gut*3 ) ) / ( $width*4 ) );
		}
	}
	.widget-area {
		width: 100%;
		float: left;
		margin-right: percentage( $gut / $width );
		@include rem('margin-bottom', $base*2);
		&:last-of-type {
			margin-right: 0; //reset
		}
	}
	textarea,
	input,
	.widget_tag_cloud a {
		background-color: $a;
	}
	.site-info {
		float: left;
	}
	.footer-social-links {
		float: right;
	}
	.site-info,
	.site-info a {
		@include for(medium-screens) {
			@include rem('font-size', 13px);
		}
		color: inherit;
		font-weight: bold;
		text-decoration: none; //reset
		@include rem('font-size', 12px);
		.theme-by {
			font-weight: normal;
			font-style: italic;
			text-transform: lowercase;
			@include rem('padding', 0 4px);
			@include rem('letter-spacing', 1px);
		}
	}
}
.footer-widget-container {
	float: left;
	width: 100%;
}
.footer-text {
	@include for(medium-screens) {
		@include rem('font-size', 13px);
	}
	clear: both;
	@include rem('margin-bottom', $base/4);
	@include rem('font-size', 12px);
}
.footer-social-links {
	margin: 0; //reset
}
/*---------------------------------------------------------
 Footer layout 2 (_scaffolding.scss)
-------------------------------------------------------- */
.footer-layout-2 {
	.site-info,
	.footer-text,
	.footer-social-links {
		float: none; //reset
		clear: both;
		text-align: center;
	}
	.footer-social-links {
		@include rem('margin-top', $base/2);
	}
}