/*---------------------------------------------------------
 8. Sidebars (_sidebars.scss)
-------------------------------------------------------- */
#sidebar-left {
	float: left;
}
#sidebar-right {
	@include for(medium-screens) {
		float: right;
	}
	float: left;
}
.site-content .container {
	clear: both;
	@include rem('padding-bottom', $base*2);
	@extend .clear;
}
.site-main {
	float: left;
}
/*---------------------------------------------------------
 Left and right (_sidebars.scss)
-------------------------------------------------------- */
@include for(medium-screens) {
	.has-left-sidebar .site-main {
		margin-left: percentage( $col / $width );
	}
	.has-right-sidebar,
	.has-left-sidebar {
		.site-main {
			width: percentage( ( $col * 5 + $gut * 5 ) / $width );
		}
		#sidebar-left, #sidebar-right {
			width: percentage( ( $col * 2 + $gut * 2 ) / $width );
		}
	}
}
/*---------------------------------------------------------
 Left and right together (_sidebars.scss)
-------------------------------------------------------- */
@include for(medium-screens) {
	.has-left-sidebar.has-right-sidebar {
		.entry-title {
			@include rem('font-size', 34px);
		}
		.site-main {
			width: percentage( ( $col * 4 + $gut * 3 ) / $width );
			margin-left: percentage( $gut / $width );
		}
		#sidebar-left,
		#sidebar-right {
			width: percentage( ( $col * 2 + $gut ) / $width );
		}
	}
}